- let carsCount = new Array(8);

mixin catalogItemModal(img, isCatalog)
  include ./catalog-item-modal
    - img

section.page-main__catalog.catalog.catalog--modal
  h2.visually-hidden Автомобили в наличии
  include ../filter/filter-sort

  .catalog__list
    each element,i in carsCount
      +catalogItemModal(i + 1, true)

  include ../button/button-more
    | Показать больше
