- let catalogItemImgCount = new Array(6);

mixin catalogItemImg(img)
  include ./catalog-item-img-swiper
    - img

article.catalog__item.catalog__item--desktop-l.grid__col-8
  .catalog__img
    .swiper
      .swiper-wrapper
        each element,i in catalogItemImgCount
          +catalogItemImg(i + 1)
        .swiper-slide
          a.catalog__call-card(href='tel:+74995191324')
            .catalog__call
              svg.catalog__call-icon(viewbox="0 0 48 48")
                use(xlink:href="#icon-call")
              span.catalog__call-title Бесплатный звонок
              span.catalog__call-dealer Автоцентр Prime
            .catalog__call-img
              picture
                source(type="image/webp" media="(min-width: 768px)" srcset=`img/catalog/catalog-car-1@1x.webp 1x, img/catalog/catalog-car-1@2x.webp 2x`)
                source(media="(min-width: 768px)" srcset=`img/catalog/catalog-car-1@1x.jpg 1x, img/catalog/catalog-car-1@2x.jpg 2x`)
                img.lazyload(src=`img/catalog/catalog-car-1@1x.jpg` srcset=`img/catalog/catalog-car-1@2x.jpg 2x` alt="")
    .swiper__buttons-wrapper
      button.swiper-button.swiper-button-next
        +icon("arrow", "swiper-button__icon")
      button.swiper-button.swiper-button-prev
        +icon("arrow", "swiper-button__icon")

  .catalog__info-wrap
    .catalog__info
      .catalog__title-wrap
        .catalog__title
          h3.catalog__heading
            a.catalog__title-link(href="/")
              span.catalog__title Land Rover Range Rover Sport
              span.catalog__year 2020
        include ../vin/vin

      .catalog__price-wrap
        .catalog__price 1 565 000 ₽
        .catalog__oldprice 1 585 000 ₽
        .catalog__credit-price В кредит от 32 500 / мес.

    .catalog__tech
      include ../rating/rating
      ul.catalog__tech-list
        li.catalog__tech-item 132 000 км
        li.catalog__tech-item 5.5 л / 388 л.с.
        li.catalog__tech-item АКПП
        li.catalog__tech-item Бензин
        li.catalog__tech-item 3 владельца
        li.catalog__tech-item Передний

  .catalog__buttons
    .catalog__actions
      include ../button/button-autoteka
      include ../button/button-favorite
      include ../button/button-compare
      include ../button/button-call

    .catalog__actions-main
      button.button.button--credit Выбрать автомобиль
