- let catalogItemImgCount = new Array(1);

mixin catalogItemImg(img)
  include ./catalog-item-img
    - img

article.catalog__item.catalog__item--small
  .catalog__img
    each element,i in catalogItemImgCount
      +catalogItemImg(i + 1)

  .catalog__info
    .catalog__title-wrap
      .catalog__title
        h3.catalog__heading
          a.catalog__title-link(href="/")
            span.catalog__title Land Rover Range Rover Sport

    .catalog__price-wrap
      .catalog__price 1 565 000 ₽
      .catalog__credit-price от 32 500 / мес.

    .catalog__tech
      ul.catalog__tech-list
        li.catalog__tech-item 2020
        li.catalog__tech-item 5.5 л
        li.catalog__tech-item АКПП
        li.catalog__tech-item 132 000 км

  .catalog__buttons
    .catalog__actions
      include ../button/button-favorite
      include ../button/button-call
    include ../button/button-credit
