picture
  source(type="image/webp" media="(min-width: 768px)" srcset=`img/catalog/catalog-new-${img}.webp`)
  source(media="(min-width: 768px)" srcset=`img/catalog/catalog-new-${img}.jpg`)
  img.lazyload(src=`img/catalog/catalog-new-${img}.jpg` alt="")
