- let carsCount = new Array(8);

mixin catalogItem(img, isCatalog)
  include ./catalog-item-desktop-l
    - img

section.page-main__catalog.catalog.grid
  .heading-group.heading-group--h1.grid__col-12
    .heading-group__wrap
      h1.heading.heading--h1 Land Rover Range Rover Sport с пробегом
      span.heading-group__label 242 автомобиля в наличии

  .grid__col-4
    include ../filter/filter-desktop

  .grid__col-8
    include ../filter/filter-sort
    .catalog__list.grid.grid--catalog
      each element,i in carsCount
        +catalogItem(i + 1, true)

    include ../button/button-more
      | Показать больше

    include ../pagination/pagination
