- let carsCount = new Array(5);

mixin catalogItem(img)
  include ./catalog-item
    - img

div.selection__cars
  div.catalog.page-main__catalog.page-main__catalog--latest.row.selection__catalog
    each element,i in carsCount
      +catalogItem(i + 1)
