- let catalogItemImgCount = new Array(6);

mixin catalogItemImg(img)
  include ./catalog-item-img
    - img

article.catalog__item.catalog__item--form
  .catalog__info

    .catalog__price-wrap
      .catalog__price 1 565 000 ₽
      .catalog__oldprice 1 585 000 ₽
      .catalog__credit-price В кредит от 32 500 / мес.

  .catalog__img
    each element,i in catalogItemImgCount
      +catalogItemImg(i + 1)

  .catalog__tech
    include ../rating/rating
    ul.catalog__tech-list
      li.catalog__tech-item 132 000 км
      li.catalog__tech-item 5.5 л / 388 л.с.
      li.catalog__tech-item АКПП
      li.catalog__tech-item Бензин
      li.catalog__tech-item 3 владельца
      li.catalog__tech-item Передний
