- let carSlidesCount = new Array(6);

mixin carSliderItem(img)
  include ./car-slider-item-new
    - img

mixin carSliderNavItem(img)
  include ./car-slider-nav-item-new
    - img

.car__slider
  .slider-car.slider-car--card
    each element,i in carSlidesCount
      +carSliderItem(i + 1)
  .slider-nav-car
    each element,i in carSlidesCount
      +carSliderNavItem(i + 1)
