.car__features.d-none.d-md-block
  .car__features-group.car__features-group--complect
    h3.car__features-heading Комплектация
      .car__features-complectation Momentum
    ul.car__features-list
      li.car__features-item.car__features-item--heading Интерьер
      li.car__features-item Противотуманные фары
      li.car__features-item Аудиосистема
      li.car__features-item Кожа (Материал салона)
      li.car__features-item Ксеноновые/Биксеноновые фары
      li.car__features-item Диски 17
      li.car__features-item Кондиционер
      li.car__features-item Навигационная система
      li.car__features-item Подушки безопасности боковые
      li.car__features-item Мультифункциональное рулевое колесо
      li.car__features-item.car__features-item--heading Экстерьер
      li.car__features-item Датчик дождя
      li.car__features-item Датчик света
      li.car__features-item Запуск двигателя с кнопки
      li.car__features-item Тонированные стекла
      li.car__features-item Подушка безопасности водителя
      li.car__features-item Система доступа без ключа
      li.car__features-item Омыватель фар
      li.car__features-item Парктроник задний
      li.car__features-item Круиз-контроль
      li.car__features-item Подушка безопасности пассажира
      li.car__features-item Подогрев передних сидений
      li.car__features-item Электрорегулировка руля
      li.car__features-item Электроподъемники задние
      li.car__features-item Электроподъемники передние
