- let carSlidesCount = new Array(6);

mixin carSliderItem(img)
  include ./car-slider-item
    - img

mixin carSliderNavItem(img)
  include ./car-slider-nav-item
    - img

.car__slider.slider-car.grid__col-12
  .swiper.swiper--car
    .swiper-wrapper
      each element,i in carSlidesCount
        +carSliderItem(i + 1)
  button.swiper-button.swiper-button-prev
    +icon("arrow", "swiper-button__icon")
  button.swiper-button.swiper-button-next
    +icon("arrow", "swiper-button__icon")

