section.page-main__car.car
  .car__top
    include ../heading/heading-h1
      | Новый Volvo XC40 I, Momentum
    include ../like/like
  .car__block.row
    .car__presentation.col-12.col-lg-8
      include ./car-slider-new
      include ../benefits/benefits-car-new
      include ./car-features
      include ../dealers/dealers-car
    .car__detail-block-wrap.col-12.col-lg-4
      .car__detail-block
        include ./car-info-new
