- let formCarsCount = new Array(4);

mixin formCar()
  include ../catalog/catalog-item-mini

.form__select-wrap.form__select-wrap--catalog.form__select-wrap--loading
  .form__field.form__field--catalog(tabindex="0")
    .form__catalog-placeholder Автомобиль
    ul.catalog.form__catalog-list
      each element in formCarsCount
        +formCar


