- let formButtonClass = isSearch ? "form__btn-wrapper form__btn-wrapper--row col" : "form__btn-wrapper";

div(class=formButtonClass)
  button.button.button--red #{formButtonText}
  input.form__reset(type="reset" value="Сбросить фильтры")
