form.form
  fieldset.form__fieldset
    include ../range/range-period
    include ../range/range-payment
    .form__total
      .form__total-label Ваш платеж:
      .form__total-payment 16 500 ₽ / мес.

  fieldset.form__fieldset
    label.form__field-wrap
      input(class="form__field" placeholder="ФИО" name="name" type="text"  value="")

    label.form__field-wrap.form__field-wrap--success
      input(class="form__field" placeholder="Дата рождения" type="text" name="date" value="01.08.1992")

    label.form__field-wrap
      input(class="form__field" placeholder="Телефон" name="phone" type="tel")

    include ../checkbox/checkbox-passport
    include ../checkbox/checkbox-agree

  include ../button/button-form
