- let formInputCLass = isSearch ? "col-md-6 col-lg-2" : "";
- let formInputHiddenClass = isHidden ? `form__mobile-hidden` : ``;
- let inputName = isPhone ? "tel" : isDate ? "age" : "";

div(class=`${formInputCLass} ${formInputHiddenClass}`)
  div.form__input-wrapper
    input(class="form__field" placeholder=`${title}` name=inputName)
