- let formSearchFields = ["Все марки", "Все модели", "Год от", "Цена от", "Цена до", "КПП", "Двигатель", "Тип кузова", "Привод", "Владельцев", "Мощность до"];

mixin formSearchItem(isHidden, isSearch, title, isSelect)
  if isSelect
    include ./form-select.pug
    - isHidden
    - isSearch
    - title
  else
    include ./form-input.pug
    - isHidden
    - isSearch
    - title

mixin formButton(isSearch)
  include ./form-button.pug
    - isSearch

form.form
  div.row
    each element,i in formSearchFields
      if element === "Все марки" || element === "Все модели" || element === "Год от" || element === "Цена до"
        if element === "Цена от" || element === "Цена до"
          +formSearchItem(false, true, element, false)
        else
          +formSearchItem(false, true, element, true)
      else
        if element === "Цена от" || element === "Цена до"
          +formSearchItem(true, true, element, false)
        else
          +formSearchItem(true, true, element, true)
    +formButton(true)
