.skeleton.skeleton--catalog.grid.grid--catalog
  .skeleton__item.skeleton__item--s
    .skeleton__content.skeleton__content--img
    .skeleton__content.skeleton__content--buttons
    .skeleton__content.skeleton__content--buttons

  .skeleton__item.skeleton__item--l.grid__col-8
    .skeleton__img-wrap
      .skeleton__content.skeleton__content--img
      .skeleton__content.skeleton__content--img
      .skeleton__content.skeleton__content--img

    .skeleton__content.skeleton__content--buttons
    .skeleton__content.skeleton__content--buttons

  .skeleton__item.grid__col-4
    .skeleton__content
    .skeleton__content
    .skeleton__content.skeleton__content--img
    .skeleton__content
    .skeleton__content.skeleton__content--buttons

  .skeleton__item.grid__col-4
    .skeleton__content
    .skeleton__content
    .skeleton__content.skeleton__content--img
    .skeleton__content
    .skeleton__content.skeleton__content--buttons

  .skeleton__item.grid__col-4
    .skeleton__content
    .skeleton__content
    .skeleton__content.skeleton__content--img
    .skeleton__content
    .skeleton__content.skeleton__content--buttons

  .skeleton__item.grid__col-4
    .skeleton__content
    .skeleton__content
    .skeleton__content.skeleton__content--img
    .skeleton__content
    .skeleton__content.skeleton__content--buttons
