.benefits.benefits--credit
  ul.benefits__list.benefits__list--credit
    li.benefits__item
      a.benefits__link.popup--link(href="")
        svg.benefits__icon(viewBox="0 0 24 24")
          use(xlink:href=`#icon-shield`)
        .benefits__text Гарантия
          .benefits__text-strong 1 год

    li.benefits__item
      a.benefits__link.popup--link(href="")
        svg.benefits__icon(viewBox="0 0 24 24")
          use(xlink:href=`#icon-bank`)
        .benefits__text Автокредит
          .benefits__text-strong от 4.9%

    li.benefits__item
      a.benefits__link.popup--link(href="")
        svg.benefits__icon(viewBox="0 0 24 24")
          use(xlink:href=`#icon-trade-in`)
        .benefits__text Trade-In как
          .benefits__text-strong первый взнос

    li.benefits__item
      a.benefits__link.popup--link(href="")
        svg.benefits__icon(viewBox="0 0 24 24")
          use(xlink:href=`#icon-docs`)
        .benefits__text По паспорту
          .benefits__text-strong и правам

    li.benefits__item
      a.benefits__link.popup--link(href="")
        svg.benefits__icon(viewBox="0 0 24 24")
          use(xlink:href=`#icon-tires`)
        .benefits__text Зимняя резина
          .benefits__text-strong в подарок
