- let isTitular = false;

- let benefitsItemsText = ["Ставка ", "Гарантия ", "Первый взнос ", "По ", "Trade-In как "];

- let benefitsItemsTextRed = ["от 0%", "до 2 лет", "от 0%", "2 документам", "первый взнос"];

- let benefitsItemsIcons = ["percent", "repair", "docs", "legal", "exchange"];

- let benefitsItemsLink = ["#modal-sale", "#modal-insurance", "#modal-first", "#modal-docs", "#modal-exchange"];

-let benefitsListClass = isTitular ? `benefits__list benefits__list--titular` : `benefits__list`;

mixin benefitsItem(text, icon, link, benefitsTextRed)
  include ./benefits-item
    - text
    - icon
    - link
    - benefitsTextRed

.benefits
  ul.benefits__list.benefits__list--swipe
    each element,i in benefitsItemsText
      +benefitsItem(element, benefitsItemsIcons[i], benefitsItemsLink[i], benefitsItemsTextRed[i])
