- let isTitular = false;

- let benefitsItemsText = ["Мгновенная ", "Среднерыночная ", "Выезд ", "Бесплатная ", "Оформление "];

- let benefitsItemsTextRed = ["выплата", "цена", "оценщика", "диагностика", "за 30 минут"];

- let benefitsItemsIcons = ["percent", "repair", "docs", "legal", "exchange"];

- let benefitsItemsLink = ["#modal-sale", "#modal-insurance", "#modal-first", "#modal-docs", "#modal-exchange"];

-let benefitsListClass = isTitular ? `benefits__list benefits__list--titular` : `benefits__list`;

mixin benefitsItem(text, icon, link, benefitsTextRed)
  include ./benefits-item
    - text
    - icon
    - link
    - benefitsTextRed

.benefits
  ul.benefits__list.benefits__list--swipe
    each element,i in benefitsItemsText
      +benefitsItem(element, benefitsItemsIcons[i], benefitsItemsLink[i], benefitsItemsTextRed[i])
