li.benefits__item
  a.benefits__link.popup--link(href=`${link}` data-effect="mfp-move-horizontal" )
    svg.benefits__icon(viewBox="0 0 24 24")
      use(xlink:href=`#icon-${icon}`)
    .benefits__text #{text}
      span.benefits__text-red #{benefitsTextRed}
