.application__form {
  @include white-back;
  padding: 24px;
}

.application__catalog {
  height: fit-content;
}

.application__banks-form {
  display: flex;
  align-items: center;
}

.application__banks-img {
  height: 32px;
  position: relative;
  max-width: 140px;
  object-fit: contain;
  filter: var(--svg-filter);
}

.application__banks-img--alfa {
  top: 1px;
}

.application__banks-text {
  margin-left: 8px;
  color: var(--color-text-secondary);
  @include font-features;
  color: $colorLink;
  position: relative;
  top: -2px;
  transition: $transitionHover;
  flex-shrink: 0;

  &:hover {
    opacity: 0.6;
  }
}

.application__banks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  grid-column: 8 / 13;
  grid-row: 2 / 4;
  @include white-back;
  padding: 24px;
  height: fit-content;
  margin-bottom: 16px;
}

.application__banks--single {
  padding: 0;
  overflow: hidden;
}

.application__form-img-wrap {
  position: relative;
  top: 24px;
  width: 359px;
  margin-bottom: 3px;
}

.application__form {
  margin-bottom: 16px;
}

.application__banks-item--alfa {
  background-color: $colorBankAlfa;
}

@media (max-width: $iphone-mini-only) {
  .application__banks-form {
    flex-direction: column;
  }

  .application__banks-img {
    margin-bottom: 8px;
  }
}

@media (max-width: $mobile-width-only) {
  .application__catalog--modal {
    margin: 0 -16px;
    margin-bottom: 16px;
  }

  .application__terms {
    display: none;
  }

  .application__form-img-wrap {
    max-width: 100%;
  }

  .application .car__info-group--terms {
    margin-bottom: 16px;
  }
}

@media (max-width: $tablet-width-max) {
  .application__choose-car {
    display: none;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
  .application__form {
    height: fit-content;
    margin-bottom: 0;
  }

  .application__banks {
    grid-column: 5 / 9;
    grid-row: 1 / 2;
    margin-bottom: 0;
  }

  .application__form-img-wrap {
    width: 331px;
  }
}

@media (min-width: $tablet-width) {
  .application--modal .application__form-img-wrap {
    width: 190px;
  }

  .application--modal .application__banks {
    grid-column: 5/9;
  }

  .application__form {
    grid-row: 1 / -1;
    height: fit-content;
  }

  .application__terms {
    @include white-back;
    padding: 40px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .application__terms-number {
    @include font-desktop-h1;
    margin-bottom: 6px;
  }

  .application__terms-item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .application__terms-text {
    color: var(--color-text-secondary);
  }
}

@media (min-width: $desktop-width) {
  .application__choose-car-icon {
    fill: $colorLink;
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
  }

  .application__choose-car-text {
    @include font-desktop-h3;
    color: $colorLink;
  }

  .application__choose-car {
    height: 312px;
    background-color: var(--color-button-secondary);
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: $transitionHover;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}
