.youtube--blog iframe{
  width: 100%;
  height: 420px;
}
.youtube--blog-wrapper{
  margin-bottom: 24px;
}
.blog__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 24px;
  height: 100%;
  border-radius: $borderRadius;
  @include overlay;

  &::before {
    opacity: 0.8;
  }
}

.blog__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.blog__item-info,
.blog__item-text {
  position: relative;
  z-index: 50;

  > * {
    color: var(--color-bg);
  }
}

.blog__item-info {
  display: flex;
  @include font-features;
  color: var(--color-text-secondary);
  display: none;
}

.blog__item-title {
  @include font-desktop-h3;
  text-align: center;
  color: white;
}

.blog__item-text {
  max-width: 320px;
}

.blog__date {
  margin-right: 8px;
}

@media (max-width: $mobile-width-only) {
  .blog__link {
    margin-bottom: 16px;
    aspect-ratio: 1 / 1;
  }

  .blog__text {
    margin-bottom: 24px;
  }
}

@media (min-width: $tablet-width) {
  .blog__list {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: 320px;
    grid-auto-flow: dense;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
  .blog__item {
    grid-column: span 3;
  }
}

@media (min-width: $desktop-width) {
  .blog__list {
    grid-auto-rows: 240px;
  }

  .blog__link {
    &:hover::before {
      opacity: 0.7;
    }
  }

  .blog__item--horizontal {
    grid-column: span 2;
  }

  .blog__item--vertical {
    grid-row: span 2;
  }

  .blog__item--big {
    grid-column: span 2;
    grid-row: span 2;
  }
}
