@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #f6f7f9;
    --color-section: #1C1C1E;
    --color-text-secondary: #919399;
    --color-bg: #0C0C0C;
    --color-divider: #2a2a2c;
    --color-button: #26282A;
    --color-button-secondary: #26282A;
    --color-primary-light: #26282A;
    --color-text-link: #f6f7f9;
    --svg-filter: brightness(0) invert(1);
  }
}
