.heading {
  margin-top: 0;
  margin-bottom: 16px;
}

.heading--h1 {
  @include font-mobile-h1;
}

.heading--h1-car span {
  display: inline-flex;
}

.heading--h2 {
  @include font-mobile-h2;
  &.heading--h2--mt{
    margin-top: 16px;
  }
}
.heading--h3 {
  margin-bottom: 8px;
  @include font-mobile-h3;
}

.heading__promo {
  color: $colorSuccess;
}

@media (min-width: $tablet-width) {
  .heading--h1 {
    @include font-desktop-h1;
    margin-bottom: 32px;
  }

  .heading--h2 {
    @include font-desktop-h2;
    margin-bottom: 24px;
  }

  .heading--h3 {
    margin-bottom: 16px;
  }
}
