.rating {
  width: var(--rating-width);
  margin-right: 8px;
  aspect-ratio: 1 / 1;
  height: fit-content;
  display: inline-grid;
  place-content: center;
  flex-shrink: 0;
  position: relative;
  transition: $transitionHover;

  &:hover {
    cursor: pointer;
  }

  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    border: 4px solid var(--color-bg);
  }

  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    z-index: 25;
    background: conic-gradient(var(--rating-color) calc(var(--rating-number)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--rating-border)),#000 calc(100% - var(--rating-border)));
    mask:radial-gradient(farthest-side,#0000 calc(99% - var(--rating-border)),#000 calc(100% - var(--rating-border)));
  }

  @include font-small-bold;

  @supports not (aspect-ratio: 1 / 1) {
    width: 48px;
    height: 48px;
  }
}
