.menu-enter-active {
  transition: all 0.2s;
}

.menu-leave-active {
  transition: all 0.15;
}

.menu-enter, .menu-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.overlay-enter-active,
.overlay-leave-active {
  transition: opacity 0.3s;
}

.overlay.overlay-enter,
.overlay.overlay-leave-to {
  opacity: 0;
  transition: opacity 0.3s;
}

.modal-enter-active {
  transition: all 0.2s ease;
}

.modal-leave-active {
  transition: all 0.15s;
}

.modal-enter, .modal-leave-to {
  transform: translateY(48px);
  opacity: 0;
}

.select-enter-active {
  transition: all 0.16s ease;
}

.select-leave-active {
  transition: all 0.16s cubic-bezier(1, 0.5, 0.8, 1);
  transform: translateY(24px);
  opacity: 0;
}

.select-enter,
.modal-leave-to {
  transform: translateY(24px);
  opacity: 0;
}

.page-enter-active,
.page-leave-active {
 transition: opacity 0.32s;
}

.page-enter,
.page-leave-active {
 opacity: 0;
}

@media (min-width: $desktop-width) {
  .modal-enter-active {
    transition: all 0.24s ease;
  }

  .modal-leave-active {
    transition: all 0.2s;
  }

  .modal-enter,
  .modal-leave-to {
    transform: translateX(48px);
    opacity: 0;
  }
}
