.grecaptcha-badge {
  visibility: hidden;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $fontFamily, $fontApple;
  font-weight: 400;
  background-color: $colorBg;
  @include font-body;
}

.body--modal {
  overflow: hidden;
}

a,
button {
  transition: transform $transitionHover;

  &:hover,
  &:active,
  &:focus {
    transition: $transitionHover;
  }
}

html,
body {
  max-width: 100vw;
}

[class^="icon-"] {
  display: inline-block;
  vertical-align: top;
  fill: transparent;
}

fieldset {
  border: inherit;
  margin-inline-start: inherit;
  margin-inline-end: inherit;
  padding-block-start: inherit;
  padding-inline-start: inherit;
  padding-inline-end: inherit;
  padding-block-end: inherit;
  min-inline-size: inherit;
  padding: 0 !important;
}

sup {
  font-size: 10px;
  font-weight: 400;
  padding-left: 4px;
}

figure {
  padding: 0;
  margin: 0;
}

button,
a,
label {
  &:hover {
    cursor: pointer;
  }
}
