.menu-enter-active {
  transition: all 0.24s ease;
}

.menu-leave-active {
  transition: all 0.24s cubic-bezier(1, 0.5, 0.8, 1);
}

.menu-enter, .menu-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateY(-20px);
  opacity: 0;
}

.overlay-enter-active,
.overlay-leave-active {
  transition: opacity 0.16s;
}

.overlay-enter, .overlay-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.modal-enter-active {
  transition: all 0.24s ease;
}

.modal-leave-active {
  transition: all 0.24s cubic-bezier(1, 0.5, 0.8, 1);
}

.modal-enter, .modal-leave-to
  /* .modal-leave-active до версии 2.1.8 */ {
  transform: translateY(48px);
  opacity: 0;
}
.select-enter-active {
  transition: all .16s ease;
}

.select-leave-active {
  transition: all .16s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transform: translateY(24px);
  opacity: 0;

}

.select-enter, .modal-leave-to
  /* .modal-leave-active до версии 2.1.8 */
{
  transform: translateY(24px);
  opacity: 0;
}
@media screen and (min-width: 1200px) {
  .overlay-enter-active,
  .overlay-leave-active {
    transition: opacity 0.16s;
  }

  .overlay-enter, .overlay-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }

  .modal-enter-active {
    transition: all 0.24s ease;
  }

  .modal-leave-active {
    transition: all 0.24s cubic-bezier(1, 0.5, 0.8, 1);
  }

  .modal-enter, .modal-leave-to
   /* .modal-leave-active до версии 2.1.8 */ {
    transform: translateX(48px);
    opacity: 0;
  }
}
