.achieve__item {
  text-align: center;
}

.achieve__number {
  font-size: 64px;
  text-shadow: 4px 4px 0px $yellow;
  text-align: center;
  font-weight: 500;
  color: $red;
}

.achieve__img {
  width: 64px;
  height: 64px;
}