.bank__aside {
  margin-top: 24px;
}

.bank__benefits {
  display: none;
}

.bank__disclaimer {
  @include shadow;
  background-color: white;
  border-radius: 8px;
  padding: 16px 32px;
  margin-top: 24px;
}

.bank__benefits-list {
  @include list-reset;
}

.bank__benefits-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.bank__aside .catalog__car-item {
  max-width: 320px!important;
  margin: 8px auto!important;
}

.bank__benefits-img {
  margin-right: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  background-position: center;
  flex-shrink: 0;
}

.bank__benefits-item a {
  @include a-reset;
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
}

.bank__benefits-text {}

.bank__benefits-descr {
  font-size: 12px;
  color: grey;
}

.bank__disclaimer {
  line-height: 1.5;
}

.bank__benefits-img--sberbank-1 {
  background-image: url("~/static/img/bank/icons/icon-sberbank--1.svg");
}

.bank__benefits-img--sberbank-2 {
  background-image: url("~/static/img/bank/icons/icon-sberbank--2.svg");
}

.bank__benefits-img--sberbank-3 {
  background-image: url("~/static/img/bank/icons/icon-sberbank--3.svg");
}

.bank__benefits-img--sberbank-4 {
  background-image: url("~/static/img/bank/icons/icon-sberbank--4.svg");
}

.bank__benefits-img--alfabank-1 {
  background-image: url("~/static/img/bank/icons/icon-alfabank--1.svg");
}

.bank__benefits-img--alfabank-2 {
  background-image: url("~/static/img/bank/icons/icon-alfabank--2.svg");
}

.bank__benefits-img--alfabank-3 {
  background-image: url("~/static/img/bank/icons/icon-alfabank--3.svg");
}

.bank__benefits-img--alfabank-4 {
  background-image: url("~/static/img/bank/icons/icon-alfabank--4.svg");
}

.bank__benefits-img--vtb-1 {
  background-image: url("~/static/img/bank/icons/icon-vtb--1.svg");
}

.bank__benefits-img--vtb-2 {
  background-image: url("~/static/img/bank/icons/icon-vtb--2.svg");
}

.bank__benefits-img--vtb-3 {
  background-image: url("~/static/img/bank/icons/icon-vtb--3.svg");
}

.bank__benefits-img--vtb-4 {
  background-image: url("~/static/img/bank/icons/icon-vtb--4.svg");
}

.bank__benefits-img--tinkoff-1 {
  background-image: url("~/static/img/bank/icons/icon-tinkoff--1.svg");
}

.bank__benefits-img--tinkoff-2 {
  background-image: url("~/static/img/bank/icons/icon-tinkoff--2.svg");
}

.bank__benefits-img--tinkoff-3 {
  background-image: url("~/static/img/bank/icons/icon-tinkoff--3.svg");
}

.bank__benefits-img--tinkoff-4 {
  background-image: url("~/static/img/bank/icons/icon-tinkoff--4.svg");
}

.bank__benefits-img--plusbank-1 {
  background-image: url("~/static/img/bank/icons/icon-plusbank--1.svg");
}

.bank__benefits-img--plusbank-2 {
  background-image: url("~/static/img/bank/icons/icon-plusbank--2.svg");
}

.bank__benefits-img--plusbank-3 {
  background-image: url("~/static/img/bank/icons/icon-plusbank--3.svg");
}

.bank__benefits-img--plusbank-4 {
  background-image: url("~/static/img/bank/icons/icon-plusbank--4.svg");
}

.bank__benefits-img--setelem-1 {
  background-image: url("~/static/img/bank/icons/icon-setelem--1.svg");
}

.bank__benefits-img--setelem-2 {
  background-image: url("~/static/img/bank/icons/icon-setelem--2.svg");
}

.bank__benefits-img--setelem-3 {
  background-image: url("~/static/img/bank/icons/icon-setelem--3.svg");
}

.bank__benefits-img--setelem-4 {
  background-image: url("~/static/img/bank/icons/icon-setelem--4.svg");
}
@media (min-width: $tablet-width) {
  .bank__aside {
    @include shadow;
    background-color: white;
    border-radius: 8px;
    padding: 16px 32px;
    margin-top: 24px;
  }

  .bank__benefits {
    @include shadow;
    background-color: white;
    border-radius: 8px;
    padding: 8px 32px;
    margin-top: 24px;
  }

  .bank__benefits-img {
    width: 64px;
    height: 64px;
  }
}
