.button {
  padding: 12px 24px;
  @include font-body-strong;
  color: white;
  border-radius: $borderRadiusSmall;
  display: block;
  text-align: center;
  background-color: var(--color-button);
  transition: $transitionHover;
  position: relative;
}

.button--favorite-active {
  fill: $colorPrimary;
}

.button--credit {
  background-color: $colorPrimary;
  box-shadow: $shadowPrimary;
  flex-shrink: 0;

  &.button--credit-europe {
    padding: 12px 24px;
  }

  &:hover {
    background-color: $colorPrimaryDark;
  }
}

.button.button--link {
  color: var(--color-text-link);
  background-color: var(--color-button-secondary);
  width: max-content;

  &:hover {
    opacity: 0.8;
    background-color: var(--color-button-secondary);
  }
}

.button--link .icon {
  fill: var(--color-text-link);
  width: 16px;
  height: 16px;
}

.button--view-s {
  transform: rotate(90deg);
}

.button--link .button__text {
  color: var(--color-text-link);
}

.button--icon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.button--icon .icon {
  margin-right: 8px;
}

.button.button--more {
  margin-top: 16px;
  width: 100%;
}

.button--fixed {
  width: 100%;
}

.button--form {
  width: 100%;
}

.button--trade-in {
  margin: 0;
  width: auto;
}

.button--action {
  padding: 16px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: 48px;
  width: 48px;
  justify-content: center;

  &:hover {
    background-color: var(--color-divider);
  }
}

.button--filter {
  background-color: var(--color-button-secondary);
  width: 100%;
  color: $colorLink;
}

.button--action.button--more {
  background-color: var(--color-button-secondary);
}

.button--option {
  color: $colorLink;
  background-color: var(--color-button-secondary);
  width: 100%;
  margin-top: 16px;
  height: 48px;
  width: 48px;
}

.button--option .icon {
  fill: $colorLink;
}

.button__icon {
  width: 16px;
  aspect-ratio: 1 / 1;
}

.button--show {
  color: $colorLink;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 16px;
  @include font-features;
  background: transparent;
  width: fit-content;

  &::after {
    margin-left: 8px;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    position: relative;
    background-color: $colorLink;
    height: 2px;
    width: 10px;
    top: 1px;
  }

  &::before {
    right: 0px;
    order: 2;
    transform: rotate(90deg);
    position: absolute;
    top: 10px;
  }

  &:hover {
    opacity: 0.6;
  }
}

.button--show-price {
  &::before,
  &::after {
    display: none;
  }
}

.button--show-active {
  &::before {
    display: none;
  }
}

.button--show-link {
  &::after,
  &::before {
    display: none;
  }
}

//.button__text {
//  display: none;
//}

.button.button--autoteka {
  width: auto;
}

.button--autoteka .button__text {
  display: block;
}

.button__text {
  margin-left: 8px;
  color: var(--color-text);
  font-weight: $fontDemiBold;
}

.button.button--loading {
  & > * {
    &:not(.loader) {
      opacity: 0;
    }
  }

  &:hover {
    opacity: 1;
    cursor: default;
  }
}

.button--credit.button--loading .loader {
  border-left-color: white;
}

.button--action .button__icon {
  width: 19px;
  fill: var(--color-text);
}

.button--text .button__icon {
  fill: var(--color-text);
}

.button--link .icon {
  fill: var(--color-text-link);
}

.button--share {
  display: none;
}

.button--download .button__text {
  display: block;
}

.button--download .button__icon {
  fill: var(--color-text-link);
}

@media (max-width: $mobile-width-only) {
  .button--action {
    padding: 12px;
    min-width: 48px;
  }
}

@media (max-width: $tablet-width-max) {
  .button__text-autoteka {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .button--show-price {
    display: none;
  }

  .button__text {
    display: block;
  }

  .button {
    padding: 12px 32px;
  }

  .button--show {
    padding: 0;
  }

  .button--text {
    width: auto;
  }

  .button--action {
    padding: 16px;
  }

  .button--more {
    margin-top: 32px;
  }
}

@media (min-width: $desktop-width) {
  .button--disabled {
    &:hover {
      cursor: auto;
    }
  }
}

.button--back {
  text-decoration: underline;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 16px 0 0;
  color: $colorLinkActive;
}
