.car__top {
  margin-bottom: 16px;
}

.car__info {
  margin-bottom: 16px;
}

.car__price-europe {
  flex-shrink: 0;
  @include font-body-strong;
}

.car__top-buttons .button__icon {
  fill: var(--color-text-link);
}

.car__terms-item {
  display: flex;
  padding: 16px 0;
  justify-content: space-between;

  &:not(:last-child) {
    @include border-bottom;
  }
}

.car__top-info {
  display: flex;
  justify-content: space-between;
}

.car__top-info-wrap {
  display: flex;
  align-items: center;
}

.car__year {
  margin-right: 8px;
  @include font-features;
}

.car__buy-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.car__actions-block {
  @include border-top;
  @include border-bottom;
  margin: 0 -16px;
  margin-bottom: 12px;
  padding: 12px 16px;
}

.car__generation {
  margin-right: 8px;
  @include font-features;
  color: var(--color-text-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 16px;
}

.car__top-info-wrap {
  max-width: calc(100% - 48px);
}

.car__actions-block {
  display: flex;
  justify-content: space-between;
}

.car__actions-buttons {
  display: flex;
}

.car__actions-buttons .button {
  &:not(:last-child) {
    margin-right: 12px;
  }
}

.car__buy-block .button--trade-in {
  margin-right: 12px;
}

.car__buy {
  @include white-back;
  margin-bottom: 24px;
}

.car__slider {
  margin-bottom: 16px;
}

.car__price {
  @include font-body-strong;
  color: $colorPrimary;
}

.car__price-old {
  text-decoration: line-through;
}
.car__price-old {
  display: none;
}
.car__price-cash {
  display: none;
}

.car__price-block {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  & > * {
    margin-right: 8px;
  }
}

.car__price {
  flex-shrink: 0;
}

.car__price-payment {
  @include font-features;
  color: var(--color-text-secondary);
  margin-right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.car__stock {
  text-align: center;
  @include font-small;
}

.car__stock-promo {
  @include font-small;
}

.car__stock-dealer {
  color: $colorPrimary;
  transition: $transitionHover;

  &:hover {
    color: $colorPrimaryDark;
  }
}

.car__tech-item {
  display: flex;
  align-items: center;
}

.car__tech-icon-wrap {
  display: flex;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--color-bg);
}

.car__tech-icon {
  width: 16px;
  height: 16px;
  fill: var(--color-text);
}

.car__tech-content {
  @include font-features;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.car__info-group {
  @include white-back;
}

.car__tech-list {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
}

.car__credit-wrap {
  margin-bottom: 24px;
}

.car__tippy-question {
  display: none !important;
}

@media (max-width: $iphone-mini-only) {
  .car__buy-block .button--trade-in {
    padding: 12px 8px;
  }

  .car__buy-block .button--credit {
    padding: 12px 16px;
  }

  .car__actions-buttons .button--autoteka .button__text {
    display: none;
  }

  .car__tech-list {
    grid-template-columns: 1fr;
  }

  .car__buy--fixed .button--favorite {
    display: none;
  }

  .car__tech-content {
    max-width: 100%;
  }
}

@media (max-width: $iphone-se-only) {
  .car__actions-buttons .button {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  .car__actions-block .rating {
    margin-right: 12px;
  }
}

@media (max-width: $mobile-width-only) {
  .car__info-group.car__info-group--terms {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .car__rating-new-label span {
    display: none;
  }

  .car__slider-wrap {
    margin-bottom: 16px;
  }

  .car__info-group--complectation,
  .car__info-group--description {
    margin-bottom: 16px;
  }

  .car__benefits--desktop {
    display: none;
  }

  .car__info {
    margin-bottom: 40px;
  }

  .car__stock-promo {
    display: block;
  }

  .car__slider .swiper-pagination .swiper-pagination-bullet {
    // &:nth-child(1n+9)  {
    //   display: none;
    // }
  }

  .car__slider .swiper-pagination-bullet {
    height: 4px;
    border-radius: $borderRadiusSmall;
    background-color: var(--color-text);
    opacity: 0.1;
    flex-shrink: 1;
    width: 30px;
    transition: $transitionHover;
    margin: 0;
  }

  .car__slider .swiper-pagination {
    @include font-small;
    font-size: 10px;
    padding: 0 8px;
    margin: 0;
    position: absolute;
    bottom: 12px;
    z-index: 99;
    background: rgba(48, 48, 48, 0.8);
    border-radius: 16px;
    width: auto;
    justify-content: center;
    right: 50%;
    transform: translateX(50%);
    color: white;
    white-space: break-spaces;
  }

  .car__slider .swiper-pagination-bullet-active {
    background-color: var(--color-text);
    opacity: 0.2;
  }

  .car__top-buttons {
    display: none;
  }

  .car__tech-item--desktop {
    display: none;
  }

  .car__slider .swiper-button {
    display: none;
  }

  .car__slider {
    margin-bottom: 0;
  }

  .car__fixed-wrap {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 16px;
    z-index: 100;
  }

  .car__buy--fixed .button--credit {
    flex-grow: 0;
  }

  .car__buy--fixed .car__buy-block {
    margin-bottom: 0;
  }

  .car__benefits {
    margin-bottom: -8px;
  }

  .car__buy-block .button--credit {
    width: 100%;
    order: -1;
  }

  .car__buy-block .button--trade-in {
    flex-grow: 1;
    margin: 0;
  }

  .car__buy-block .button--credit-pay {
    display: block;
    flex-grow: 1;
  }

  .car__info-tabs .tabs__list {
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;

    &::after {
      display: none;
    }
  }

  .car__info-tabs .tabs__item {
    margin-right: 0;
    flex-grow: 1;
  }

  .car__info-tabs .tabs__link {
    width: 100%;
  }

  .car__buy-block {
    flex-wrap: wrap;
    gap: 16px;
  }
}

@media (max-width: $tablet-width-max) {
  // .car__buy-block .button--credit-pay {
  //   display: none;
  // }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
  .car .grid {
    &:first-of-type {
      grid-row-gap: 24px;
    }
  }

  .car__buy-wrap {
    grid-column: 5 / 9;
    margin-bottom: -8px;
  }

  .car__info {
    grid-column: 1 / 5;
  }

  .car__top-buttons {
    margin-right: auto;
  }

  .car__credit-wrap .catalog__item--desktop-form {
    display: none;
  }

  .car__buy .button--credit {
    margin-right: 16px;
    padding: 12px 26px;
  }

  .car__buy .button--trade-in {
    padding: 12px 24px;
  }

  .car__info-group--options .rating {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .car__tippy-question {
    display: flex !important;
  }
  .car__info-group.car__info-group--terms {
    padding-bottom: 8px;
  }

  .car__info-group--terms .heading--h2 {
    margin-bottom: 8px;
  }

  .car__slider .swiper-pagination {
    display: none;
  }

  .car__tech-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .car__credit-wrap.grid {
    margin-bottom: 24px;
  }

  .car__slider-wrap {
    margin: 24px 0;
    overflow: hidden;
  }

  .car__info-groups {
    margin-bottom: -32px;
  }

  .car__actions-block {
    margin: 0px -24px 12px;
    padding: 12px 24px;
  }

  .car__top-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .car__top-buttons .button {
    &:first-child {
      margin-right: 16px;
    }
  }

  .car__price {
    @include font-desktop-h3;
  }

  .car__buy-block {
    flex-direction: row-reverse;
  }

  .car__tech-item--mobile {
    display: none;
  }

  .car__tech-item--desktop {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
  }

  .car__slider {
    position: relative;
    margin-bottom: 0;
  }

  .car__fixed-wrap,
  .car__info-tabs {
    display: none;
  }

  .car__info-groups {
    display: grid;
    row-gap: 24px;
  }

  .car__slider .swiper-button {
    position: absolute;
    top: calc(50% - 20px);
    z-index: 50;
  }

  .car__slider .swiper-button-prev {
    left: 24px;
  }

  .car__slider .swiper-button-next {
    right: 24px;
  }

  .car__slider .swiper--car {
    overflow: visible;
  }

  .car__credit {
    grid-column: 1 / 7;
  }

  .car__top {
    margin-bottom: 0;
  }

  .car__top .vin {
    display: none;
  }

  .car__info .swiper {
    overflow: visible;
  }

  .car__info {
    margin-bottom: 24px;
  }

  .car__info-group {
    padding: 24px;
  }

  .car__buy-wrap {
    position: sticky;
    top: 153px;
    margin-bottom: 24px;
    height: fit-content;
  }

  .car__buy {
    padding-bottom: 16px;
  }
}

@media (min-width: $desktop-width) {
  .car__slider .swiper-button-prev {
    left: -20px;
  }

  .car__credit-wrap.grid {
    margin-bottom: 0;
  }

  .car__slider .swiper-button-next {
    right: -20px;
  }

  .car__buy-block .button {
    margin: 0;
  }

  .car__buy-block .button--trade-in {
    margin: 0 16px;
    flex-shrink: 0;
  }

  .car__buy-wrap {
    grid-column: 7 / 13;
    margin-bottom: -8px;
  }

  .car__buy {
    padding: 24px;
  }

  .car__tech-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
