.complects__table-bank-link {
  @include a-reset;
  font-weight: 600;
}

.complects__table-cell {
  font-weight: 400;
}

.complects__table-rating-number {
  color: $green;
}

.complects__table-rating-number--yellow {
  color: rgb(245, 181, 16);
}

.complects__table-rating-number--red {
  color: $red;
}

.complects__table {
  width: 100%;
}

.complects__table-row--detailed {
  display: none;
  overflow: hidden;
}

.complects__list {
  @include list-reset;
}

.complects__list-item {
  margin-bottom: 12px;
}

.complects__column {
  text-align: left;
  margin-bottom: 16px;
}

.complects__table-complectation {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    background: url("~/assets/img/select-arrow.svg") no-repeat;
    background-size: contain;
    margin-left: 8px;
    margin-top: 4px;
  }
}

.complects__table-cell--price {
  color: $red;
  font-weight: 600;
}
@media (max-width: $mobile-width-only) {

  .complects__table-row {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 16px 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid $grey;
  }

  .complects__table-row--detailed {
    display: none;
    overflow: hidden;
    margin-top: -16px;
    border-top: none;
    padding: 16px;
  }

  .complects__table-cell--detailed {
    padding: 16px;
    background-color: $light-grey;
  }

  .complects__table-cell {
    flex-basis: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .complects__table-cell--name {
    margin-bottom: 16px;
  }

  .complects__table-head {
    display: none;
  }

  .complects__table-logo img {
    height: 16px;
  }
}
@media (min-width: $tablet-width) {
  .complects__column {
    margin: 16px;
  }
  .complects__column-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .complects__table-head {
    border-bottom: 1px solid $grey;
  }

  .complects__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .complects__table-cell span {
    display: none;
  }

  .complects__table-cell {
    border: 1px solid $light-grey;
    border-collapse: collapse;
    padding: 10px;
  }

  .complects__table-cell--apply .button {
    padding: 12px;
    font-size: 10px;
    border-radius: 0;
    margin: 0;
  }

  .complects__table-cell--head {
    border: none;
    background-color: $light-grey;
    font-size: 12px;
  }

  .complects__table-cell--apply {
    padding: 0;
  }
}

.complects__table-cell {
  text-align: center;
}
@media (min-width: $desktop-width) {
  .complects__table-cell--complectation {
    &:hover {
      cursor: pointer;
    }
  }

  .complects__table-cell {
    padding: 16px;

    &:hover {
      background-color: $grey;
    }
  }
  .complects__table-cell--detailed {
    padding: 24px 32px;
  }

  .complects__table-row {
    &:hover {
      background-color: $light-grey;
    }
  }

  .complects__table-cell--apply {
    padding: 8px;
  }

  .complects__table-cell--apply .button {
    font-size: 14px;
    padding: 8px;
  }
}
