.express {
  margin-bottom: 16px;
}
@media (min-width: $tablet-width) {
  .express__text {
    margin-bottom: 16px;
  }
}
@media (min-width: $desktop-width) {
  .express__button {
    margin-top: 0;
    width: 30%;
  }
  .express__wrap {
    display: flex;
    align-items: center;
  }
  .express__text {
    margin-bottom: 0;
    margin: 0 16px;
  }
}
