.features__item {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.features .heading--h3 {
  margin-bottom: 8px;
}

.features__rating {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.features__group {
  margin-bottom: 24px;
}

.features__rating .heading--h3 {
  margin-bottom: 0;
}

.features__item--rating {
  display: flex;
  align-items: flex-start;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/icons/icon-check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    margin-top: 4px;
    flex-shrink: 0;
  }
}

.features__item--problem {
  &::before {
    background: url("../img/icons/icon-check-problem.svg");
  }
}

.features__indicator {
  display: flex;
  align-items: flex-start;

  &::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    top: 8px;
  }
}

.features__item-type {
  color: $colorTextSecondary;
  margin-right: 8px;
}

.features__indicator--problem {
  &::before {
    background-color: $colorError;
  }
}

.features__indicator--clean {
  &::before {
    background-color: $colorSuccess;
  }
}

@media (max-width: $iphone-mini-only) {
  .features--dealer .features__item-type {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .features--dealer .features__item-type {
    flex-shrink: 0;
  }

  .features--dealer .features__item-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: $desktop-width) {
  .features__list--column,
  .features--complect {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
