.form-factors {}

.form-factors__list {
  @include list-reset;
  display: flex;
  justify-content: space-around;
}

.form-factors__link {
  @include a-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-factors__icon {
  height: 64px;
}

.form-factors__text {
  font-size: 14px;
}
@media (min-width: $tablet-width) {
  .form-factors {
    margin: 16px 0;
  }

  .form-factors__icon {
    transition: all 0.3s;
  }

  .form-factors__link {
    &:hover .form-factors__icon {
      transform: scale(1.2);
    }

    &:hover .form-factors__text {
      color: $red;
    }
  }
}
