.heading-group {
  margin-bottom: 16px;
}

.heading-group .heading {
  margin-bottom: 12px;
  &.heading--h2-blog{
    margin-bottom: 0;
  }
}

.heading-group__label {
  color: var(--color-text-secondary);
  @include font-features;
}

.heading-group {
  display: flex;
  justify-content: space-between;
}

.heading-group--form {
  align-items: center;
}

.heading-group--modal {
  align-items: flex-start;
  padding: 16px;
  @include border-bottom;
}

.heading-group .rating {
  margin-right: 0;
}

.heading-group__label--car {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  // flex-direction: row-reverse;
  // justify-content: flex-end;
}

.heading-group__year {
  color: var(--color-text);
}

@media (max-width: $iphone-mini-only) {
  .heading-group--modal > * .heading-group__label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    display: block;
  }
}

@media (max-width: $mobile-width-only) {
  .heading-group--form {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .heading-group--h1 {
    margin-bottom: 0;
    grid-column: span 8;
  }

  .heading-group__wrap {
    flex-shrink: 0;
    max-width: 100%;
  }

  .heading-group--filter {
    @include border-bottom;
    padding-bottom: 16px;
    margin-bottom: 2px;
  }

  .heading-group--modal {
    padding: 32px;
    padding-bottom: 24px;
  }

  .heading-group--form .heading--h2 {
    @include font-desktop-h3;
  }

  .heading-group--h1 .rating {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .heading-group--h1 {
    grid-column: span 12;
  }

  .heading-group--catalog .heading--h1 {
    margin-bottom: 0;
  }

  .heading-group--h1.grid__col-6 {
    grid-column: span 6;
  }
}

