.lazyload,
.lazyloading {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  will-change: opacity;
  // background-color: $colorBg;
  -webkit-backface-visibility: hidden;
}

.lazyloaded {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s;
  -webkit-backface-visibility: hidden;
}
