@media (max-width: $mobile-width-only) {
  .make-new {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .make-new {
    display: flex;
    margin-bottom: 24px;
  }

  .make-new__logo-wrap {
    border-radius: 50%;
    background: white;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }

  .make-new__logo-wrap img {
    max-height: 32px;
    width: 32px;
    object-fit: contain;
  }

  .make-new__logo-wrap--offset img {
    position: relative;
    top: -2px;
    left: 1px;
  }

  .make-new__top {
    display: flex;
    width: 55%;
    flex-shrink: 0;
  }

  .make-new__form {
    padding: 16px;
    margin: auto;
  }

  @keyframes lazy {
    0% {
      background-color: rgba(165,165,165,.1);
    }

    50% {
      background-color: rgba(165,165,165,.3);
    }

    100% {
      background-color: rgba(165,165,165,.1);
    }
  }

  .make-new__photo {
    width: 100%;
    position: relative;
  }

  .make-new__logo {
    width: 64px;
    height: 64px;
    position: relative;
    z-index: 50;
  }

  .make-new__label {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 50;
    display: flex;
  }

  .make-new__text {
    background: linear-gradient(to right, $red, transparent);
    color: white;
    padding: 18px;
    font-size: 18px;
    position: relative;
    line-height: 1.5;
    margin-left: -32px;
    padding-left: 48px;
  }

  .make-new__logo img {
    // padding: 12px;
    // background-color: white;
    // border-radius: 50%;
  }

  .make-new__logo::after {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgba(255, 255, 255, 0.9);
    border-radius: 100%;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -webkit-animation-duration: 3s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
  }

  .make-new__logo::before {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
  }
  @-webkit-keyframes ripple {
    from {
      opacity: 1;
      -webkit-transform: scale3d(0.75, 0.75, 1);
      transform: scale3d(0.75, 0.75, 1);
    }

    to {
      opacity: 0;
      -webkit-transform: scale3d(1.5, 1.5, 1);
      transform: scale3d(1.5, 1.5, 1);
    }
  }
  @keyframes ripple {
    from {
      opacity: 1;
      -webkit-transform: scale3d(0.75, 0.75, 1);
      transform: scale3d(0.75, 0.75, 1);
    }

    to {
      opacity: 0;
      -webkit-transform: scale3d(1.5, 1.5, 1);
      transform: scale3d(1.5, 1.5, 1);
    }
  }

  .make-new__photo-wrap {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: $border-radius;
    margin-bottom: 12px;
    height: 100%;
    box-shadow: 13px 32px 36px -14px rgba(179,179,179,.3);

    &::after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), transparent);
    }
  }

  .make-new__img {
    object-fit: cover;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    background-color: white;
    transition: all 0.3s;
    height: 100%;
  }

  .make-new__img-preview {
    padding-bottom: 50%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    animation: lazy 1s ease-in-out;
    animation-iteration-count: 4;
    height: 100%;
  }

  .make-new__sale {
    position: absolute;
    bottom: 40px;
    left: 16px;
    z-index: 50;
  }

  .make-new__sale-title {
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .make-new__sale-text {
    color: white;
  }

  .make-new__form {
    padding: 24px 48px;
  }

  .make-new__label {
    top: 32px;
    left: 32px;
  }

  .make-new__photo-wrap {
    border-radius: 6px;
  }

  .make-new__sale-title {
    margin-bottom: 16px;
  }

  .make-new__sale {
    bottom: 48px;
    left: 32px;
  }

  .make-new__sale-title {
    font-size: 32px;
  }

  .make-new__sale-text {
    font-size: 20px;
  }

  .make-new__img {
    object-fit: cover;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .make-new__top {
    width: 60%;
  }
}
