.modal {
  background: var(--color-section);
  position: fixed;
  width: 100%;
  top: 72px;
  left: 0;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 500;
  pointer-events: auto;
}

.modal .benefits__link {
  border: 1px solid var(--color-divider);
}

.modal__logo {
  max-width: 128px;
  filter: var(--svg-filter);
}

.modal__wrap {
  padding: 0 16px;
  padding-bottom: 160px;
}

.modal__close {
  position: relative;
  top: -4px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .modal__close-icon {
    fill: $colorPrimary;
    transition: $transitionHover;
  }
}

.modal__close-icon {
  fill: var(--color-text);
  transition: $transitionHover;
}

.modal__options {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  padding-top: 0px;
  @include border-bottom;
  align-items: center;
  margin-bottom: 16px;
}

.modal__buttons {
  display: flex;
}

.modal__buttons .button {
  margin-top: 0;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.modal__choose-group {
  margin-bottom: 16px;
  padding-bottom: 16px;
  // @include border-bottom;
}

.modal__rating {
  display: flex;
  align-items: center;
}

.modal__rating .heading {
  margin-bottom: 0;
}

.modal.modal--search {
  width: 100%;
  left: 0;
  height: fit-content;
  top: 106px;
  box-shadow: $shadowModal;
}

.modal--search .modal__wrap {
  padding-top: 16px;
  padding-bottom: 64px;
}

.modal.modal--menu {
  top: 106px;
}

.modal--credit .heading-group--form {
  display: none;
}

.modal--credit .heading-group__label {
  display: none;
}

.modal--credit .heading-group__wrap .heading.heading--h1 {
  white-space: normal;
  margin-bottom: 0;
}

@media (max-width: $iphone-mini-only) {
  .modal__logo {
    max-width: 96px;
  }
}

@media (max-width: $mobile-width-only) {
  .modal__theme {
    padding: 16px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-divider);
  }

  .modal {
    top: auto;
    bottom: 0;
  }

  .modal .catalog__item--vertical {
    border-bottom: 1px solid var(--color-divider);
    margin-bottom: 0;
  }

  .modal__buttons--dealer .button__text {
    display: none
  }

  .modal--makes {
    @include modal-menu;
    top: 106px;
    width: 100%;
  }

  .modal__wrap {
    padding-top: 113px;
  }

  .modal__wrap .filter__catalog-wrap {
    padding-top: 0;
  }

  .modal--makes .modal__wrap {
    padding: 0;
    margin: 0;
  }

  .modal .heading-group--modal {
    background: var(--color-section);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 250;
    align-items: center;
  }

  .modal .heading-group--modal-only-title {
    align-items: center;
    padding-bottom: 8px;
  }

  .modal .modal__options {
    background: var(--color-section);
    position: fixed;
    width: 100%;
    z-index: 250;
    top: 97px;
    padding-top: 16px;
  }

  .modal .heading-group__wrap {
    overflow: hidden;
    max-width: calc(100% - 56px);

    & .heading {
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .modal .heading-group--modal-only-title {
    & .heading {

      margin-bottom: 8px;
    }

    & .modal__close {
      top: 0;
    }
  }

  .modal .heading-group--form .heading-group__wrap {
    max-width: 100%;
  }

  .modal__wrap {
    padding-top: 113px;
  }

  .modal--menu .modal__wrap {
    padding-top: 0;
  }

  .modal__options ~ .modal__wrap {
    padding-top: 188px;
  }
  .modal.modal--credit .modal__options {
    top: 89px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
  .modal__options {
    margin-bottom: 32px;
  }

  .modal--choose-car .modal__options {
    justify-content: center;
  }

  .modal__wrap {
    margin: 0;
  }

  .modal--makes .modal__wrap {
    padding: 16px;
    margin: 0;
  }

  .modal--makes .makes__list {
    padding: 16px;
    padding-top: 0;
  }

  .modal--makes .makes__list--popular {
    margin-bottom: 16px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
  .modal--menu .modal__wrap,
  .modal--makes .modal__wrap {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .modal--menu .main-nav__list {
    padding: 0 8px;
  }
}


@media (min-width: $tablet-width) {
  .modal__theme {
    display: none;
  }

  .modal {
    top: auto;
    bottom: -10px;
  }

  .modal__close-icon {
    width: 32px;
    height: 32px;
  }

  .modal.modal--search {
    top: 81px;
  }

  .modal.modal--makes,
  .modal.modal--menu {
    top: 130px;
  }
}

@media (min-width: $desktop-width) {
  .modal .catalog__item {
    border: 1px solid var(--color-divider);
  }

  .modal.modal--makes,
  .modal.modal--menu {
    height: auto;
    padding-bottom: 40px;
    left: 0;
    width: 100%;
    box-shadow: $shadowModal;
  }

  .modal--menu .modal__wrap {
    padding: 0;
    padding-top: 32px;
  }

  .modal__wrap {
    padding: 32px;
    padding-top: 16px;
    padding-bottom: 48px;
  }

  .modal__options {
    padding: 0 32px 16px;
  }

  .modal--makes .modal__wrap {
    padding: 32px 0;
  }

  .modal {
    height: 100%;
    top: 0;
    width: 916px;
    left: calc(100% - 916px);
  }

  .modal__choose-group {
    margin-bottom: 32px;

    &:last-child {
      border-bottom: none;
    }
  }

  .modal--search .modal__wrap {
    padding-left: 240px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
