.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $colorText;
  transition: all 0.3s;
  display: block;
  z-index: 200;
  opacity: 0.95;
}

// .overlay--active {
//   animation: fade-overlay 500ms;
//   display: block;
//   z-index: 100;
// }

@keyframes fade-overlay {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;
  }
}
