.pagination {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  align-items: center;
}

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;

  border: 1px solid var(--color-divider);
  border-radius: $borderRadiusSmallest;;
}

.pagination__arrow {
  display: block;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--color-bg-active);
  transition: $transitionHover;

  &:hover {
    fill: var(--color-text);
  }
}

.pagination__arrow--prev {
  transform: rotate(90deg);
}

.pagination__arrow--next {
  transform: rotate(-90deg);
}

.pagination__arrow-icon {
  width: 16px;
  height: 16px;
}

.pagination__item--active .pagination__link {
  color: var(--color-text);
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 40px;
  aspect-ratio: 1 / 1;
  color: var(--color-bg-active);
  padding: 16px;
  border-right: 1px solid var(--color-divider);

  &:hover {
    color: var(--color-text);
  }
}

.pagination__item {
  &:first-child,
  &:last-child {
    display: none;
  }

  &:nth-last-child(2) .pagination__link {
    border-right: none;
  }
}
