.payment {
  margin-top: 24px;
  color: $grey;
  display: none;
}

.payment__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.payment__title {
  margin-bottom: 16px;
  font-size: 12px;
}

.payment__list {
  @include list-reset;
  display: flex;
  align-items: center;
}

.payment__item {
  width: 48px;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

@media (min-width: $tablet-width) {
  .payment {
    border-top: 1px solid $grey;
    padding-top: 24px;
  }

  .payment__block {
    flex-direction: row;
  }

  .payment__title {
    margin: 0;
    margin-right: 16px;
  }
}
