.range {
  position: relative;
}

.range .irs--flat .irs-handle {
  border-radius: 50%;
  background-color: $colorPrimary;
  width: 24px;
  height: 24px;
  top: 18px;
  transition: all 0.3s;
  box-shadow: $shadowHover;
}

.range .irs--flat .irs-handle > i {
  &:first-child {
    display: none;
  }
}

.range .irs--flat.irs-with-grid {
  height: 24px;
  top: -12px;
}

.range .irs--flat .irs-bar {
  background: linear-gradient(90deg, rgba(237, 41, 57, 0) 0%, #ED2939 100%);
  transition: none;
  transition: all 0.3s;
}

.range .irs-grid-pol.small {
  height: 0;
}

.range .irs--flat .irs-bar {
  height: 4px;
  background: linear-gradient(90deg, rgba(237, 41, 57, 0) 0%, #ED2939 100%);

  &:hover {
    cursor: pointer;
  }
}

.range .irs--flat .irs-single {
  background-color: $colorPrimary;
  transition: none;
}

.range .irs--flat .irs-line {
  top: 29px;
  height: 4px;
  background: linear-gradient(90deg, rgba(224, 226, 232, 0) 0%, rgba(201, 202, 203, 0.814422) 81.44%, #E0E2E8 100%);

  &:hover {
    cursor: pointer;
    background-color: $colorBg;
  }
}

@media (min-width: $desktop-width) {
  .range .irs-grid-text {
    @include font-small;
  }

  .range .irs--flat .irs-handle {

    &:hover {
      cursor: grab;
      transform: scale(1.1);
    }

    &:focus,
    &:active {
      cursor: grabbing;
    }
  }
}
