.select {
  position: relative;
  overflow: visible;
}

.select__list {
  @include white-back;
  padding: 0 16px;
  position: absolute;
  top: 64px;
  width: 100%;
  left: 0;
  max-height: 320px;
  overflow: scroll;
  z-index: 25;
}

.select__item {
  padding: 16px;
  color: $colorText;
  text-align: left;
  @include font-body;
  margin: 0 -16px;

  &:not(:last-child) {
    @include border-bottom;
  }
}

@media (min-width: $desktop-width) {
  .select {
    cursor: pointer;
  }
}
