@media (min-width: $tablet-width) {
  .service__text {
    margin-bottom: 16px;
  }

  .services__wrap {
    display: flex;
    align-items: flex-start;
  }

  .services__text {
    width: 70%;
    margin-right: 24px;
  }
}
