.skeleton {
  overflow: hidden;
}

.skeleton__item {
  position: relative;
  background-color: white;
  padding: 16px;
}

.skeleton__content {
  border-radius: 4px;
  height: 24px;
  background-color: $colorBg;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.skeleton__content--img {
  height: 168px;
}

.skeleton__content--buttons {
  height: 48px;
}

.skeleton__item--s .skeleton__content--img {
  aspect-ratio: 4 / 3;
  height: auto;
}

@media (max-width: $mobile-width-only) {
  .skeleton--catalog {
    margin: 0 -16px;
  }

  .skeleton__item {
    height: 408px;
    margin-bottom: 16px;
  }

  .skeleton__item--s {
    height: 186px;
  }

  .skeleton__item--s {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 1fr auto;
    grid-auto-columns: auto;
    gap: 16px;
  }

  .skeleton__item--s .skeleton__content {
    margin-bottom: 0;
  }

  .skeleton__item--s .skeleton__content--buttons {
    &:last-child {
      grid-column: span 2;
    }
  }

  .skeleton__item--l {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .skeleton__item {
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    height: 486px;
  }

  .skeleton__content--img {
    order: -1;
    aspect-ratio: 4 / 3;
    height: auto;
    border-radius: $borderRadius;
  }

  .skeleton__item--l {
    height: 375px;
  }

  .skeleton__item--l .skeleton__content--img {
    width: 276px;
    margin-right: 16px;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  .skeleton__img-wrap {
    display: flex;
    overflow: hidden;
    margin-bottom: 16px;
  }

  .skeleton__item--s {
    display: none;
  }
}
