.slider-car__item {
  aspect-ratio: 4 / 3;
  border-radius: $borderRadius;
  background-color: transparentize($colorBgActive, 0.2);
  overflow: hidden;
  outline: none;

  &:focus,
  &:active {
    outline: none;
  }

  > * {
    outline: none;
  }
}

.slider__car-img {
  border-radius: $borderRadius;
}

@media (max-width: $mobile-width-only) {

}

@media (min-width: $desktop-width) {
  .slider__car-img {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8!important;
      cursor: pointer;
    }
  }
}
