.slider-index .swiper-slide {
  background: $colorPrimary;
  aspect-ratio: 16 / 9;
}

.slider-index .swiper-slide {
  background: white;
  aspect-ratio: 16 / 9;

  // fallback
  @include aspect-ratio(16,9);
  @supports not (aspect-ratio: 16 / 9) {
    height: 100%;
  }
}

.slider-index .swiper-slide {
  text-align: center;
}

.slider-index
  .swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
  margin-right: 20px;
}

.slider-index .swiper-pagination-bullet {
  position: relative;
  width: 156px;
  height: 8px;
  text-align: left;
  border-radius: 0;
  opacity: 1;
  margin-right: 8px;
  background-color: transparent;

  .swiper-pagination-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 4px;
    border-radius: $borderRadiusSmall;
    background-color: $colorPrimaryLight;
    transition: opacity $transitionHover;

    &:hover {
      opacity: 0.6;
    }
  }

  .swiper-pagination-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 0%;
    height: 4px;
    border-radius: $borderRadiusSmall;
    background-color: $colorPrimary;
  }
}

.slider-index .swiper-pagination-bullet-active {
  background-color: transparent;

  &:hover {
    cursor: default;
  }

  .swiper-pagination-progress {
    animation-name: countingBar;
    animation-duration: 3s; //autopaly 시간과 맞춰주기
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
}

.slider-index__item {
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.slider-index__text {
  text-align: left;
  z-index: 25;
  margin: 0 16px;
}

.slider-index__item--black .slider-index__circle {
  background: $colorText;
  box-shadow: none;
}

.slider-index__circle {
  width: 320px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: absolute;
  left: -24px;
  background: $colorPrimary;
  box-shadow: $shadowPrimary;

  background: $colorPrimary;
  background: -webkit-linear-gradient(to right,$colorPrimary, $colorPrimaryDark);
  background: linear-gradient(to right,$colorPrimary, $colorPrimaryDark);

  // fallback
  @include aspect-ratio(1,1);
}

.slider-index__text-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.slider-index__item > * {
  width: 50%;
}

.slider-index__heading {
  color: white;
  margin-bottom: 8px;
  @include font-body-strong;
}

.slider-index__content {
  color: white;
  @include font-small;
}

.slider-index .swiper-pagination {
  display: flex;
  bottom: 0;
  position: absolute;
  width: calc(50% - 16px);
  margin: 8px 16px;
  align-items: center;
  z-index: 50;
}

.slider-index__media-wrap {
  position: relative;
  width: 50%;
}

.slider-index__media {
  z-index: 50;
}

.slider-index__media--element {
  transform: rotate(8deg);
  width: 140px;
  position: absolute;
  top: 10%;
  right: 0;
  animation: float 6s ease-in-out infinite;
}

.slider-index__media--car {
  width: 150%;
  position: absolute;
  bottom: 24px;
  left: -50%;
  max-width: none;
}

@media (max-width: $mobile-width-only) {
}

@media (min-width: $tablet-width) {
  .slider-index__heading {
    @include font-desktop-h2;
  }

  .slider-index__content {
    @include font-features;
  }

  .slider-index__text {
    width: 240px;
    margin-left: 96px;
  }

  .slider-index__text-wrap {
    justify-content: center;
  }

  .slider-index .swiper-slide {
    background-color: transparent;
  }

  .slider-index__circle {
    width: 440px;
  }

  .slider-index__media--car {
    left: -80px;
  }

  .slider-index__media--element {
    width: 240px;
    top: 20%;
    transform: rotate(4deg);
  }

  .slider-index .swiper-pagination {
    left: 76px;
    bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .slider-index .swiper-pagination {
    padding: 24px 0;
    height: 16px;
  }

  .slider-index__item {
    &:hover .slider-index__circle {
      transform: scale(1.05)!important;
    }
  }
}
