.slider-nav-car__item .slider-car__link {
  &:focus {
    outline: none;
  }
}

.slider-nav-car--new .slider-nav-car__item {
  max-height: 86px;
}

@media (max-width: $mobile-width-only) {
  .slider-nav-car {
    display: none;
  }
}
