.fancybox__content{
  &:after{
    content: '';
    position: absolute;
    left: 16px;
    bottom: 80px;
    z-index: 2;
    width: 100px;
    height: 32px;
    background: url("~/assets/img/logo-w.svg") no-repeat center center;
    background-size: contain;
    opacity: .64;
    pointer-events: none;
  }
}
.slider-car__item {
  position: relative;
  aspect-ratio: 4 / 3;
  border-radius: $borderRadius;
  background-color: transparentize($colorBgActive, 0.2);
  overflow: hidden;
  outline: none;
  &:before{
    content: '';
    position: absolute;
    left: 16px;
    bottom: 80px;
    z-index: 2;
    width: 100px;
    height: 32px;
    background: url("~/assets/img/logo-w.svg") no-repeat center center;
    background-size: contain;
    opacity: .64;
    pointer-events: none;
  }
  &:focus,
  &:active {
    outline: none;
  }

  > * {
    outline: none;
  }
}

.slider__car-img {
  border-radius: $borderRadius;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

@media (max-width: $mobile-width-only) {

}

@media (min-width: $desktop-width) {
  .slider__car-img {
    width: 100%;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8!important;
      cursor: pointer;
    }
  }
}
