.special__item {
  padding: 24px;
  box-shadow: 13px 32px 36px -14px rgba(179,179,179,.3);
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  height: 320px;
  width: 240px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  flex-shrink: 0;
  align-items: flex-end;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: $black;
    border-radius: $border-radius;
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.special__more {
  width: max-content;
}

.special__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -50;
}

.special__item--catalog {
  height: 128px;
}

.special__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.special__item--first {
  background-image: url("~/assets/img/special/special-first.jpg");
}

.special__item--family {
  background-image: url("~/assets/img/special/special-family.jpg");
}

.special__item--trade {
  background-image: url("~/assets/img/special/special-trade.jpg");
}

.special__item--credit {
  background-image: url("~/assets/img/special/special-credit.jpg");
}

.special__item--kia {
  &:nth-child(1) {
    background-image: url("~/assets/img/models/kia-1.jpg");
  }
  &:nth-child(2) {
    background-image: url("~/assets/img/models/kia-2.jpg");
  }
  &:nth-child(3) {
    background-image: url("~/assets/img/models/kia-3.jpg");
  }
  &:nth-child(4) {
    background-image: url("~/assets/img/models/kia-4.jpg");
  }
}

.special__item--skoda {
  &:nth-child(1) {
    background-image: url("~/assets/img/models/skoda-1.jpg");
  }
  &:nth-child(2) {
    background-image: url("~/assets/img/models/skoda-2.jpg");
  }
  &:nth-child(3) {
    background-image: url("~/assets/img/models/skoda-3.jpg");
  }
  &:nth-child(4) {
    background-image: url("~/assets/img/models/skoda-4.jpg");
  }
}

.special__item--hyundai {
  &:nth-child(1) {
    background-image: url("~/assets/img/models/hyundai-1.jpg");
  }
  &:nth-child(2) {
    background-image: url("~/assets/img/models/hyundai-2.jpg");
  }
  &:nth-child(3) {
    background-image: url("~/assets/img/models/hyundai-3.jpg");
  }
  &:nth-child(4) {
    background-image: url("~/assets/img/models/hyundai-4.jpg");
  }
}

.special__list {
  @include list-reset;
  display: flex;
  padding-bottom: 24px;
}

.special__item--baige {
  background-color: #ffead7;
  padding: 0;
}

.special__item--violet {
  background-color: rgb(236, 213, 241);
  display: flex;
  justify-content: center;
}

.special__item--green {
  background-color: rgb(207, 244, 227);

  & .special__info {
    text-align: center;
  }
}

.special__item--red {
  background-color: #ffa2a5;

  & .special__info {
    text-align: center;
  }
}

.special__text {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.special__more {
  @include a-reset;
  border: 1px solid white;
  padding: 8px 12px;
  border-radius: 24px;
  display: inline-block;
  font-size: 16px;
}

.special__info {
  position: relative;
  z-index: 25;
}

@media (max-width: $mobile-width-only) {
  .special {
    margin: 0 -16px;
  }
  .special__heading {
    padding: 0 16px;
  }
  .special__list {
    @include list-reset;
    padding: 16px;
    padding-top: 0;
    display: flex;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
    width: 100%;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 0;
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 12px;
    overflow-y: hidden;

    &::after {
      content: "";
      display: block;
      padding-right: 1px;
    }
  }

  .special__item {
    margin-right: 16px;
  }

  .special__info {
    text-align: center;
  }
  .special--make {
    display: none;
  }
}
@media (min-width: $tablet-width) {
  .special__item--catalog {
    height: 144px;
  }

  .special__list {
    @include list-reset;
    justify-content: space-between;
  }

  .special__item {
    padding: 32px;
    width: 24%;
    height: 160px;
  }

  .special__item--baige {
    padding: 0;
  }

  .special__item--tall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .special__item--tall .special__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .special__item--single {
    grid-row: 2 / 3;
  }

  .special__item--double {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
  }

  .special__item--double .special__img {
    margin-bottom: 0;
    margin-right: 32px;
  }
}
@media (min-width: $desktop-width) {
  .special__item {
    transition: all 0.3s;

    &:hover {
      box-shadow: 13px 32px 36px -14px rgba(179,179,179,.5);
      transform: translateY(-4px);
    }
  }

  .special__more {
    &:hover {
      background: white;
      color: $black;
      transition: all 0.3s;
    }
  }
}
