.stock {
  border-radius: $borderRadius;
  @include font-small;
  font-weight: $fontRegular;
  font-size: 13px;
  color: white;
  margin: 0 8px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  z-index: 25;
  position: absolute;
  top: 96px;
  left: 16px;
  @media (min-width: $tablet-width) {
    top: 24px;
  }
  &.stock--true{
    background-color: $colorLink;
  }
  &.stock--false{
    background-color: $colorSuccess;
  }
}