.stories--modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.stories__modal-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 250;
  left: 0;
  top: 0;
  position: relative;
}

.stories__modal {
  background: white;
  aspect-ratio: 3 / 4;
  max-width: 320px;
  margin: auto;
  border-radius: $borderRadius;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.stories--benefit .stories__modal {
  height: fit-content;
  aspect-ratio: auto;
}

.stories__close {
  position: absolute;
  right: 16px;
  width: 32px;
  height: 32px;
  top: 16px;
  z-index: 50;
}

.stories__close-icon {
  fill: $colorBgActive;
}

.stories__modal .heading--h2 {
  text-align: center;
}

.stories__modal-img-wrap {
  margin: 16px 0;
  aspect-ratio: 4 / 3;
}

.stories__item {
  display: flex;
  align-items: flex-end;
  width: 120px;
  aspect-ratio: 3 / 4;
  position: relative;
  background-color: $colorPrimary;
  border-radius: $borderRadius;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: $shadowHover;
  padding: 12px;
  @include overlay;

  &:active {
    transition: $shortTransition;
    transform: scale(0.95);
    box-shadow: none;
  }

  &:hover {
    background-color: $colorPrimaryDark;
    transition: $transitionHover;
  }

  &::before {
    opacity: 1;
    border-radius: $borderRadius;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0),);
  }

  // fallback
  @supports not (aspect-ratio: 16 / 9) {
    width: 120px;
    height: 160px;
  }
}

.stories__img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: $borderRadius;
}

.stories__text {
  position: relative;
  z-index: 50;
  color: white;
  @include font-small;
  white-space: normal;
}

.stories__list {
  display: flex;
}

.stories__modal_wrapper-wrap {
  z-index: 300;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
 }

@media (max-width: $mobile-width-only) {
  .stories__list {
    @include horizontal-scroll;
    padding: 40px 16px;
    padding-right: 0;
    margin-top: -40px;
    margin-bottom: -40px;

    &::after {
      content: "";
      display: block;
      width: 8px;
      flex-shrink: 0;
    }
  }

  .stories__item {
    margin-right: 16px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-max) {
  .stories__list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .stories__list .stories__item {
    &:nth-child(1n+6) {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .stories__close {
    width: 40px;
    height: 40px;
    top: 140px;
  }

  .stories__close-icon {
    width: 40px;
    height: 40px;
  }

  .stories__modal-wrap {
    width: 720px;
    margin: auto;
  }

  .stories--desktop .swiper-button {
    position: absolute;
    top: calc(50% - 16px);
    right: 16px;
  }

  .stories--desktop .swiper-button-next {
    right: 16px;
  }

  .stories--desktop .swiper-button-prev {
    left: -64px;
  }

  .stories__modal {
    max-width: 480px;
    padding: 40px;
  }

  .stories__item {
    &:hover {
      cursor: pointer;
    }
  }
}
