.text__wrap {
  @include white-back;
  padding: 24px;
}

.text__content .heading--h2 {
  margin-bottom: 16px;
}

.text__p {
  margin-bottom: 16px;
}
.text__p--car-description{
  white-space: break-spaces;
}

.text__link {
  color: $colorLink;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.6;
  }
}

.text__links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
}

.text__list {
  margin-bottom: 16px;
}

.text__o-list {
  list-style-type: none;
  counter-reset: olItem;
  margin: 0;
  padding: 0;
  width: 100%;
}

.text__o-list-item {
  counter-increment: olItem;
  margin-bottom: 8px;
  display: inline-flex;

  &::before {
    display: block;
    content: counters(olItem, ".") " ";
    margin-right: 12px;
  }
}

.text__o-list-item--heading {
  display: block;
  margin-bottom: 24px;

  &::before {
    display: none;
  }
}

.text__o-list-item--heading .heading {
  display: flex;
  align-items: flex-start;

  &::before {
    display: block;
    content: counters(olItem, ".") ". ";
    margin-right: 12px;
  }
}

.text__list-item {
  display: flex;
  margin-bottom: 8px;

  &::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 12px;
    background-color: $colorLink;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    top: 9px;
  }
}

.text__figure-img {
  margin: auto;
}

.text__contacts-item {
  @include font-mobile-h2;
}

@media (max-width: $mobile-width-only) {
  .text__figure-img,
  .text__figure {
    aspect-ratio: 1 / 1;
    margin-bottom: -64px;
    object-fit: contain;
  }

  .text__img-wrap {
    margin: 0 -24px;
    margin-bottom: 16px;
  }

  .text__contacts-label {
    margin-bottom: 8px;
  }

  .text__contacts-group {
    margin-bottom: 16px;
  }
}

@media (min-width: $tablet-width) {
  .text__img--blog {
    width: 100%;
    margin: 32px 0;
  }

  .text__content {
    margin-right: auto;
  }

  .text__contacts-group {
    margin-bottom: 32px;
  }

  .text__contacts-label {
    @include font-features;
    margin-bottom: 8px;
    color: $colorTextSecondary;
  }

  .text__contacts-item {
    @include font-desktop-h2;
  }

  .text__wrap {
    padding: 32px;
  }

  .text__wrap--figure {
    display: flex;
    flex-direction: row-reverse;
  }

  .text__figure {
    margin-bottom: -48px;
  }

  .text__figure-img {
    width: 280px;
    transition: $transitionHover;

    &:hover {
      transform: translateY(-8px);    transition: $transitionHover;
    }
  }

  .text__wrap--figure .text__figure {
    height: 320px;
    flex-shrink: 0;
    width: auto;
    margin-left: 24px;
  }

  .text__img-wrap {
    margin: 0 -32px;
  }
}

@media (min-width: $desktop-width) {
  .text__img-wrap {
    margin: 0 -64px;
  }
}
