.vin {
  border-radius: 12px;
  background-color: $colorSuccess;
  color: white;
  margin-left: 8px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  @include font-small;
  font-weight: $fontRegular;
  font-size: 13px;
}

.vin .icon {
  fill: white;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}
