.week-models__text {
  @include shadow;
  padding: 32px;
  font-size: 16px;
  line-height: 1.5;
}

.week-models__text .heading--h2 {
  margin-top: 0;
}

.week-models__highlight {
  color: $red;
  font-weight: 600;
}

.week-models__heading {
  font-size: 18px;
}
