.stories.stories--modal
  .stories__modal-wrap
    button.stories__close
      +icon("close-s", "stories__close-icon")

    .swiper.swiper--progress.swiper--stories-modal
      .swiper-pagination
      .swiper-wrapper
        .swiper-slide
          .stories__modal
            .stories__offer
              h2.heading.heading--h2 Выгодный автокредит от 3.9% годовых без первого взноса
              p.stories__modal-text  Подарки, выгодная процентная ставка, Trade-In как первый взнос.
            .stories__modal-img-wrap
              picture
                source(type="image/webp" media="(min-width: 768px)" srcset=`img/stories/stories-modal/stories-modal-1@1x.webp 1x, img/stories/stories-modal/stories-modal-1@2x.webp 2x`)
                source(media="(min-width: 768px)" srcset=`img/stories/stories-modal/stories-modal-1@1x.png 1x, img/stories/stories-modal/stories-modal-1@2x.png 2x`)
                img.stories__modal-img(src=`img/stories/stories-modal/stories-modal-1@1x.png` srcset=`img/stories/stories-modal/stories-modal-1@2x.png 2x` loading="lazy" alt="")

            include ../button/button-more
              | Заявка на автокредит

        .swiper-slide
          .stories__modal
            .stories__offer
              h2.heading.heading--h2 Выгодный автокредит от 3.9% годовых без первого взноса
              p.stories__modal-text  Подарки, выгодная процентная ставка, Trade-In как первый взнос.

            .stories__modal-img-wrap
              picture
                source(type="image/webp" media="(min-width: 768px)" srcset=`img/stories/stories-modal/stories-modal-1@1x.webp 1x, img/stories/stories-modal/stories-modal-1@2x.webp 2x`)
                source(media="(min-width: 768px)" srcset=`img/stories/stories-modal/stories-modal-1@1x.png 1x, img/stories/stories-modal/stories-modal-1@2x.png 2x`)
                img.stories__modal-img(src=`img/stories/stories-modal/stories-modal-1@1x.png` srcset=`img/stories/stories-modal/stories-modal-1@2x.png 2x` loading="lazy" alt="")

            include ../button/button-more
              | Заявка на автокредит

        .swiper-slide
          .stories__modal
            .stories__offer
              h2.heading.heading--h2 Выгодный автокредит от 3.9% годовых без первого взноса
              p.stories__modal-text  Подарки, выгодная процентная ставка, Trade-In как первый взнос.

            .stories__modal-img-wrap
              picture
                source(type="image/webp" media="(min-width: 768px)" srcset=`img/stories/stories-modal/stories-modal-1@1x.webp 1x, img/stories/stories-modal/stories-modal-1@2x.webp 2x`)
                source(media="(min-width: 768px)" srcset=`img/stories/stories-modal/stories-modal-1@1x.png 1x, img/stories/stories-modal/stories-modal-1@2x.png 2x`)
                img.stories__modal-img(src=`img/stories/stories-modal/stories-modal-1@1x.png` srcset=`img/stories/stories-modal/stories-modal-1@2x.png 2x` loading="lazy" alt="")

            include ../button/button-more
              | Заявка на автокредит

      button.swiper-button.swiper-button-prev
        +icon("arrow", "swiper-button__icon")
      button.swiper-button.swiper-button-next
        +icon("arrow", "swiper-button__icon")
