section.page-main__blog.blog.grid
  .heading-group.heading-group--h1
    .heading-group__wrap
      h1.heading.heading--h1 Опции в автомобиле, за которые не стоит переплачивать
      span.heading__promo
      span.heading-group__label.heading-group__label--car 69 просмотров
        span.heading-group__year 05.05.2022

  .blog__text.text.grid__col-12
    .grid
      .text__wrap.grid__col-12
        .text__content
          p.text__p Благодаря нашим кредитным программам Вы сможете наслаждаться автомобилем уже сегодня без больших единовременных затрат. CARRO выступает в роли кредитного брокера, подбирая для Вас автоцентры и банки с лучшими условиями автокредитования.
          p.text__p Мы возьмем на себя подбор оптимальной кредитной программы и оформление сопутствующих документов. Вам остается лишь выбрать подходящий автомобиль и заполнить кредитную заявку для предварительного одобрения.
          p.text__p После звонка кредитного эксперта приезжайте в автоцентр, пробуйте понравившийся автомобиль в рамках бесплатного тест-драйва и оформляйте автокредит прямо в салоне без необходимости обращения в отделение банка-партнера.

          .text__img-wrap
            picture
              source(type="image/webp" media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.webp 1x, img/blog/blog-1@2x.webp 2x`)
              source(media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.jpg 1x, img/blog/blog-1@2x.jpg 2x`)
              img.text__img.text__img--blog(src=`img/blog/blog-1@1x.jpg` srcset=`img/blog/blog-1@2x.jpg 2x` loading="lazy" alt="")

          p.text__p Благодаря нашим кредитным программам Вы сможете наслаждаться автомобилем уже сегодня без больших единовременных затрат. CARRO выступает в роли кредитного брокера, подбирая для Вас автоцентры и банки с лучшими условиями автокредитования.
          p.text__p Мы возьмем на себя подбор оптимальной кредитной программы и оформление сопутствующих документов. Вам остается лишь выбрать подходящий автомобиль и заполнить кредитную заявку для предварительного одобрения.
          p.text__p После звонка кредитного эксперта приезжайте в автоцентр, пробуйте понравившийся автомобиль в рамках бесплатного тест-драйва и оформляйте автокредит прямо в салоне без необходимости обращения в отделение банка-партнера.

  .blog__wrap.grid__col-12
    h2.heading.heading--h2 Еще новости
    ul.blog__list
      li.blog__item.blog__item--vertical
        a.blog__link(href="")
          .blog__item-info
            .blog__date 05.05.2022
            .blog__views 69 просмотров
          .blog__item-text
            h3.blog__item-title Опции в автомобиле, за которые не стоит переплачивать
          picture
            source(type="image/webp" media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.webp 1x, img/blog/blog-1@2x.webp 2x`)
            source(media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.jpg 1x, img/blog/blog-1@2x.jpg 2x`)
            img.blog__img(src=`img/blog/blog-1@1x.jpg` srcset=`img/blog/blog-1@2x.jpg 2x` loading="lazy" alt="")
      li.blog__item
        a.blog__link(href="")
          .blog__item-info
            .blog__date 05.05.2022
            .blog__views 69 просмотров
          .blog__item-text
            h3.blog__item-title Опции в автомобиле, за которые не стоит переплачивать
          picture
            source(type="image/webp" media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.webp 1x, img/blog/blog-1@2x.webp 2x`)
            source(media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.jpg 1x, img/blog/blog-1@2x.jpg 2x`)
            img.blog__img(src=`img/blog/blog-1@1x.jpg` srcset=`img/blog/blog-1@2x.jpg 2x` loading="lazy" alt="")
      li.blog__item
        a.blog__link(href="")
          .blog__item-info
            .blog__date 05.05.2022
            .blog__views 69 просмотров
          .blog__item-text
            h3.blog__item-title Опции в автомобиле, за которые не стоит переплачивать
          picture
            source(type="image/webp" media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.webp 1x, img/blog/blog-1@2x.webp 2x`)
            source(media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.jpg 1x, img/blog/blog-1@2x.jpg 2x`)
            img.blog__img(src=`img/blog/blog-1@1x.jpg` srcset=`img/blog/blog-1@2x.jpg 2x` loading="lazy" alt="")
      li.blog__item.blog__item--horizontal
        a.blog__link(href="")
          .blog__item-info
            .blog__date 05.05.2022
            .blog__views 69 просмотров
          .blog__item-text
            h3.blog__item-title Опции в автомобиле, за которые не стоит переплачивать
          picture
            source(type="image/webp" media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.webp 1x, img/blog/blog-1@2x.webp 2x`)
            source(media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.jpg 1x, img/blog/blog-1@2x.jpg 2x`)
            img.blog__img(src=`img/blog/blog-1@1x.jpg` srcset=`img/blog/blog-1@2x.jpg 2x` loading="lazy" alt="")
      li.blog__item
        a.blog__link(href="")
          .blog__item-info
            .blog__date 05.05.2022
            .blog__views 69 просмотров
          .blog__item-text
            h3.blog__item-title Опции в автомобиле, за которые не стоит переплачивать
          picture
            source(type="image/webp" media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.webp 1x, img/blog/blog-1@2x.webp 2x`)
            source(media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.jpg 1x, img/blog/blog-1@2x.jpg 2x`)
            img.blog__img(src=`img/blog/blog-1@1x.jpg` srcset=`img/blog/blog-1@2x.jpg 2x` loading="lazy" alt="")
      li.blog__item
        a.blog__link(href="")
          .blog__item-info
            .blog__date 05.05.2022
            .blog__views 69 просмотров
          .blog__item-text
            h3.blog__item-title Опции в автомобиле, за которые не стоит переплачивать
          picture
            source(type="image/webp" media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.webp 1x, img/blog/blog-1@2x.webp 2x`)
            source(media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.jpg 1x, img/blog/blog-1@2x.jpg 2x`)
            img.blog__img(src=`img/blog/blog-1@1x.jpg` srcset=`img/blog/blog-1@2x.jpg 2x` loading="lazy" alt="")
      li.blog__item.blog__item--big
        a.blog__link(href="")
          .blog__item-info
            .blog__date 05.05.2022
            .blog__views 69 просмотров
          .blog__item-text
            h3.blog__item-title Опции в автомобиле, за которые не стоит переплачивать
          picture
            source(type="image/webp" media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.webp 1x, img/blog/blog-1@2x.webp 2x`)
            source(media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.jpg 1x, img/blog/blog-1@2x.jpg 2x`)
            img.blog__img(src=`img/blog/blog-1@1x.jpg` srcset=`img/blog/blog-1@2x.jpg 2x` loading="lazy" alt="")
      li.blog__item.blog__item--vertical
        a.blog__link(href="")
          .blog__item-info
            .blog__date 05.05.2022
            .blog__views 69 просмотров
          .blog__item-text
            h3.blog__item-title Опции в автомобиле, за которые не стоит переплачивать
          picture
            source(type="image/webp" media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.webp 1x, img/blog/blog-1@2x.webp 2x`)
            source(media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.jpg 1x, img/blog/blog-1@2x.jpg 2x`)
            img.blog__img(src=`img/blog/blog-1@1x.jpg` srcset=`img/blog/blog-1@2x.jpg 2x` loading="lazy" alt="")
      li.blog__item
        a.blog__link(href="")
          .blog__item-info
            .blog__date 05.05.2022
            .blog__views 69 просмотров
          .blog__item-text
            h3.blog__item-title Опции в автомобиле, за которые не стоит переплачивать
          picture
            source(type="image/webp" media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.webp 1x, img/blog/blog-1@2x.webp 2x`)
            source(media="(min-width: 768px)" srcset=`img/blog/blog-1@1x.jpg 1x, img/blog/blog-1@2x.jpg 2x`)
            img.blog__img(src=`img/blog/blog-1@1x.jpg` srcset=`img/blog/blog-1@2x.jpg 2x` loading="lazy" alt="")

    include ../button/button-more
      | Показать больше
