section.modal.modal--credit
  .heading-group.heading-group--modal
    .heading-group__wrap
      h2.heading.heading--h1 Комплектация
      span.heading-group__label Land Rover Range Rover Evoque, 2020
    button.modal__close
      +icon("close-s", "modal__close-icon")
  .modal__wrap
    .features.features--complect
      .features__group
        h3.heading.heading--h3 Безопасность:
        ul.features__list
          li.features__item Антипробуксовочная система
          li.features__item Бортовой компьютер
          li.features__item Датчик света
          li.features__item Иммобилайзер
          li.features__item Камера заднего вида
          li.features__item Количество мест (5)
          li.features__item Кондиционер (климат 2-зонный)
          li.features__item Круиз-контроль
      .features__group
        h3.heading.heading--h3 Комфорт:
        ul.features__list
          li.features__item Антипробуксовочная система
          li.features__item Бортовой компьютер
          li.features__item Датчик света
          li.features__item Иммобилайзер
          li.features__item Камера заднего вида
          li.features__item Количество мест (5)
          li.features__item Кондиционер (климат 2-зонный)
          li.features__item Круиз-контроль
      .features__group
        h3.heading.heading--h3 Комфорт:
        ul.features__list
          li.features__item Антипробуксовочная система
          li.features__item Бортовой компьютер
          li.features__item Датчик света
          li.features__item Иммобилайзер
          li.features__item Камера заднего вида
          li.features__item Количество мест (5)
          li.features__item Кондиционер (климат 2-зонный)
          li.features__item Круиз-контроль
      .features__group
        h3.heading.heading--h3 Комфорт:
        ul.features__list
          li.features__item Антипробуксовочная система
          li.features__item Бортовой компьютер
          li.features__item Датчик света
          li.features__item Иммобилайзер
          li.features__item Камера заднего вида
          li.features__item Количество мест (5)
          li.features__item Кондиционер (климат 2-зонный)
          li.features__item Круиз-контроль
