section.modal.modal--credit
  .heading-group.heading-group--modal
    .heading-group__wrap
      h2.heading.heading--h1 Состояние автомобиля
      span.heading-group__label Land Rover Range Rover Evoque, 2020
    button.modal__close
      +icon("close-s", "modal__close-icon")
  .modal__options
    .modal__rating
      include ../rating/rating
      .modal__rating-text
        h3.heading.heading--h3 Общее состояние

    .modal__buttons
      include ../button/button-download-card

  .modal__wrap
    .features.features--rating
      .features__group
        .features__item
          p Запрет регистрационных действий на машину накладывается, если у автовладельца есть неоплаченные штрафы и налоги, либо если имущество стало предметом спора.

      .features__group
        .features__rating
          include ../rating/rating
          .features__item
            h3.heading.heading--h3 Кузов
        .features__list.features__list--column
          .features__item.features__item--rating Кузов в отличном состоянии
          .features__item.features__item--rating Кузов в отличном состоянии
          .features__item.features__item--rating Кузов в отличном состоянии
          .features__item.features__item--rating Кузов в отличном состоянии
          .features__item.features__item--rating.features__item--problem Кузов в отличном состоянии

      .features__group
        .features__rating
          include ../rating/rating
          .features__item
            h3.heading.heading--h3 Кузов
        .features__list.features__list--column
          .features__item.features__item--rating Кузов в отличном состоянии
          .features__item.features__item--rating Кузов в отличном состоянии
          .features__item.features__item--rating Кузов в отличном состоянии
          .features__item.features__item--rating Кузов в отличном состоянии
          .features__item.features__item--rating.features__item--problem Кузов в отличном состоянии
