- let tabsItems = ["1. Марка", "2. Модель", "3. Автомобиль"];

mixin tabsItem(tabText, tabActive, tabIndex)
  include ../tabs/tabs-item
    - tabText
    - tabActive
    - tabIndex

section.modal.modal--choose-car
  .heading-group.heading-group--modal
    .heading-group__wrap
      h2.heading.heading--h1 Выберите автомобиль
      span.heading-group__label 10 560 автомобилей в наличии
    button.modal__close
      +icon("close-s", "modal__close-icon")

  .modal__options
    .tabs.tabs--modal
      ul.tabs__list(id="tabs" role="tablist")
        each element,i in tabsItems
          if i === 2
            +tabsItem(element, true, i)
          else
            +tabsItem(element, false, i)

  .modal__wrap
    include ../../catalog/catalog-modal
