section.about
  include ../heading/heading-h2
    | Информационный текст
  .row
    .col-12.col-lg-4
      picture
        img.info__img.lazyloaded(src="img/catalog/catalog-car-1@1x.jpg", alt="")
    .col-12.col-lg-8
      .about__text
        p Зачем рисковать, приобретая автомобиль "с рук" у сомнительных продавцов? CARRO предлагает удобно выбрать проверенный автомобиль в лучших автосалонах Москвы.
        p Автоцентры, представленные на нашем портале, тщательно отобраны, исходя из ассортимента, состояния автомобилей, наличия юридических и технических гарантий.
        p Итак, оставляя заявку на автокредит или покупку машины за наличные через CARRO, Вы совершаете абсолютно безопасную покупку. Автомобиль передается Вам без скрытых дефектов, с полным комплектом документов и подарками на выбор.
        p Покупка автомобиля через CARRO — это современный и цивилизованный способ обзавестись транспортным средством для городских, загородных поездок, семейных путешествий. Оставьте заявку прямо сейчас и получите лучшие условия по автокредиту!
