.about
  .about__text
    p.about__paragraph
      | На сайтах объявлений можно найти тысячи вариантов авто на любой вкус и цвет. Однако найти нужную модель определенного года выпуска - лишь полдела. Главное в успешной покупке подержанного автомобиля — убедиться в его надлежащем техническом состоянии и юридической чистоте.
    p.about__paragraph
      | При этом зачастую найти нужную модель с определённой коробкой,  двигателем и пробегом довольно затруднительно. Каждый вариант нужно изучить самостоятельно, встретившись с продавцом — неудобно для рабочего человека столицы.
    p.about__paragraph
      | Наш сервис избавляет вас не только от рисков, но и от необходимости тратить свое драгоценное время. Обученные специалисты  с удовольствием подберут несколько вариантов по заданным параметрам, при необходимости расширив поиск за счет похожих моделей.
    p.about__paragraph
      | Подобранные варианты пробиваются по всем базам, юристы проверяют юридическую чистоту каждого автомобиля, а технический отдел — исправность всех узлов, соответствие реального пробега заявленному. При необходимости проводится полная предпродажная подготовка и вам остается лишь выбрать машину по вкусу. Без нервов, траты времени и сил.
