section.about
  include ../heading/heading-h2
    | О портале
  .row
    .about__video.col-12.col-lg-6
      div.youtube(id="pf0hQmzZ6sE" style="width:100%; height:100%;")
    .col-12.col-lg-6
      .about__text
        p.about__paragraph
          | Сотни проверенных автомобилей с пробегом ждут Вас на CARRO. Самые популярные модели, множество цветов и форм-факторов. Выбирайте автомобиль по вкусу и оставляйте заявку — вот так просто. Оплачивайте в кредит или за наличные.
        img(src='img/about/about.svg' alt='')
