section.about
  include ../heading/heading-h2
    | Об услуге
  .row
    .about__video.col-12.col-lg-6
      iframe(width='100%' height='100%' src='https://www.youtube.com/embed/sWgV4TQkXB4' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen='')
    .col-12.col-lg-6
      .about__text
        p.about__paragraph
          | Автокредит — отличное решение для покупки автомобиля. Выгодная процентная ставка, удобные ежемесячные платежи, высокая вероятность одобрения. Отправьте заявку на понравившийся автомобиль, чтобы не платить всю стоимость машины сразу.
        img(src='img/about/about.svg' alt='')
