section.about
  include ../heading/heading-h2
    | Информационный текст
  .row
    .col-12.col-lg-4
      picture
        img.info__img.lazyloaded(src="img/catalog/catalog-car-1@1x.jpg", alt="")
      include ../tags/tags-about
    .col-12.col-lg-8
      .about__text
        p.about__paragraph Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque asperiores in quod fugiat ducimus excepturi iste qui, architecto eveniet enim fuga, unde libero! Blanditiis dignissimos deleniti fugiat tenetur expedita incidunt!
        p.about__paragraph Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque asperiores in quod fugiat ducimus excepturi iste qui, architecto eveniet enim fuga, unde libero! Blanditiis dignissimos deleniti fugiat tenetur expedita incidunt!
