section.about
  .about__text
    p.about__paragraph CARRO — первая в своем роде автоплощадка проверенных автомобилей в Москве.
    include ../heading/heading-h2
      | Коротко о главном
    p.about__paragraph
      | В «стенах» нашего автопортала собраны тысячи подержанных автомобилей, прошедших техническую и юридическую экспертизу, а также новые автомобили и коммерческий транспорт. Проверенные временем, опытные автодилеры формируют каталог CARRO, объединяя сотни автомобилей на одной площадке. Это удобно покупателям — тот случай, когда огромный выбор непременно переходит в качественную покупку. Это, безусловно, удобно для автосалонов — десятки тысяч человек ежедневно просматривают предложения, звонят, узнают об акциях и подарках.
    include ../heading/heading-h2
      | Формирование парка
    p.about__paragraph
      | Что делает нас успешнее и прогрессивнее? Это уникальность и продуманность автопарка – у нас собраны наиболее востребованные и удачные модели самых разнообразных марок. Проверка отдельно взятой модели начинается на этапе ее закупки и затем — продолжается во время предпродажной подготовки.
    include ../heading/heading-h2
      | Наши принципы
    p.about__paragraph
      | Каждый день мы стремимся сделать покупку авто безопасной, цивилизованной и доступной, что и стало визитной карточкой CARRO. Выгодный автокредит, детальная информация о товаре, гарантия и подарки — то, ради чего люди приходят на наш автопортал. Мы сформировали культурный б/у-сегмент в сфере автоторговли и не собираемся останавливаться на достигнутом.
    include ../heading/heading-h2
      | Перспективы
    p.about__paragraph
      | За 3 года мы помогли более 50 000 человек найти подходящий автомобиль по приемлемой цене. Все большее количество салонов хотят сотрудничать с нами, однако, нашим критериям отвечают далеко не все. Не секрет, что автомобильный рынок столицы долгое время находился в тени, а мы ломаем этот стереотип. Потому и отклики клиентов полностью отражают нашу политику.
    include ../heading/heading-h2
      | Контакты
    p.about__paragraph
      | Мы открыты для сотрудничества, предложений и пожеланий — info@carro.ru. Наш телефон —
      span.ya-phone +7 (499) 519-13-24
    img(src="img/about.svg" alt="")
